.js-typed{display:none;}
.c-brif {
  z-index: 100;
  position: relative;
  margin-top: 1rem;
  &-header{
    top:-6rem;
    right: 0;
    z-index: 0;
  }
  &__text {
    font-size: px-to-rem(37);
    position: relative;
    margin: 0;
  }
  &__input {
    font-size: px-to-rem(37);
    outline:none;
    border:none;
    background: none;
    opacity:0;
    &-name{
      width: 18.5rem;
    }
    &-target{
      width:18.3rem;
      height: 3rem;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      white-space: pre-line;
    }
    &-company{
      width: 16.5rem;
    }
    &-email{
      width: 11.5rem;
    }
    &-decor{
      color: $orange;
      &:active {outline:none;}
      &::-webkit-input-placeholder {color: $orange;}
      &::-moz-placeholder          {color: $orange;}
      &:-moz-placeholder           {color: $orange;}
      &:-ms-input-placeholder      {color: $orange;}
      border-bottom:1px dashed;
      opacity:1;
    }
  }

  &-icon {
    position:absolute;
  }
  &__buffer{
    font-size: px-to-rem(37);
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
    white-space: nowrap;
    display:inline-block;
    opacity: 0;

  }

  &__thanks {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    height: 100vh;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    .c-brif__text {display: inline-block;}
    .icon-pencil-blue{
      top: -8rem;
      left: -3rem;
    }
    .icon-yes{
      top: -5rem;
      left: 45%;
    }
    .icon-rupor-blue {
      bottom: -9rem;
      left: 75%;
    }
    .icon-lamp-blue {
      top: 0rem;
      right: -13rem;
      margin: 0;
    }
    .icon-arrow-blue{
      bottom: -6rem;
      left: 1rem;
      margin: 0;
    }

    .icon-plane{
     top: -7rem;
      right: -1rem;
      margin: 0;
    }
  }

  &__submit{
    display:none;
    color:#fff;
    background-color: $yellow;
    border-radius: 2rem;
    border:none;
    padding: .5rem 1rem .7rem;
    font-size: px-to-rem(24);
    margin-bottom: 0;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-decoration: none;
    vertical-align: middle;
    &:hover{
      background-color: darken($yellow, 6.5%);
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
}

.c-brif__textarea {
  position:relative;
  display: inline-block;
  .c-brif__buffer {
    white-space: pre-line;
  }
}