.c-portfolio{
  z-index: 1;
  &__image {@include clearfix;}
  .img-responsive {
    max-height: 80vh;
    max-width: 45vw;
  }
  &__body{position:relative;}
  &-wrap {
    position:absolute;
    right: 0;
    left: 0;
  }
  &__svg{
    max-height: 60vh;
    max-width: 35vw;
    position:absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }
}

.c-portfolio__teplica {
   .c-portfolio{
     &__svg{
       right: 10rem;
       //transform: rotate(-10deg) translate(-30px,42px);
     }
     &__name{
       z-index: 10;
       color:red;
     }
   }
 }

.c-portfolio__sunturini {
  .c-portfolio{
    &__svg{
      left: 0rem;
      //transform: rotate(-10deg) translate(-30px,42px);
    }
    &__name{
      z-index: 10;
      color:red;
    }
  }
  .img-responsive {
    float:right;
    margin-right: 7em;
  }
}

.c-portfolio__eantonova {
  .c-portfolio{
    &__svg{
      right: 13rem;
      //transform: rotate(-10deg) translate(-30px,42px);
    }
    &__name{
      z-index: 10;
      color:red;
    }
  }
}

.c-portfolio__2gis {
  .c-portfolio{
    &__svg{
      left: 0rem;
      //transform: rotate(-10deg) translate(-30px,42px);
    }
    &__name{
      z-index: 10;
      color:red;
    }
  }
  .img-responsive {
    float:right;
    margin-right: 7em;
  }
}

@media (max-width: $screen-xs-max) {
  .icon-point{transform: scale(0.6);}
  .c-portfolio__svg {
    max-width: 52vw;}
  .active .c-menu__link {opacity:0}
  .c-portfolio__2gis .img-responsive, .c-portfolio__sunturini .img-responsive {
    margin-right: 3rem;
  }
  .c-portfolio__teplica .c-portfolio__svg, .c-portfolio__eantonova .c-portfolio__svg  {
    right: 30px;
  }
  .c-menu__point {
    right: 15px;}
  .active .c-menu__line {display: none}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .active .c-menu__link {opacity:0}
  .c-portfolio__2gis .img-responsive, .c-portfolio__sunturini .img-responsive {
    margin-right: 3rem;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) {

}

