html{
  font-size: $font-size-base;
  min-width: 320px;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro.eot');
  src:  url('../fonts/DINPro.woff') format('woff'),
  url('../fonts/DINPro.ttf') format('truetype'),
  url('../fonts/DINPro.svg') format('svg'),
  url('../fonts/DINPro.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINProBold.eot');
  src:  url('../fonts/DINProBold.woff') format('woff'),
  url('../fonts/DINProBold.ttf') format('truetype'),
  url('../fonts/DINProBold.svg') format('svg'),
  url('../fonts/DINProBold.eot') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}

@function px-to-rem($px){
  @return ($px/$font-base) + rem;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);

  $k: ($f-max - $f-min)/($w-max - $w-min);
  $b: $f-min - $k * $w-min;

  $b: $b + $units;

  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  font-size: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    font-size: $f-max;
  }
}

.big-header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 0;
  line-height: 1;
  margin: 0;
  padding:0;
  &__text{
    position:absolute;
    white-space: nowrap;
    z-index: 0;
    color:$blue-light;
    font-size: px-to-rem(130);
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    @media screen and (max-width: 1024px) {
      font-size: px-to-rem(100);
    }
    @media screen and (max-width: 640px) {
      font-size: px-to-rem(70);
    }
  }
}

@media (max-width: $screen-xs-max) { body { font-size: 100%;} }
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {body {font-size: 100%;}}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {body {font-size: 100%;}}
@media (min-width: $screen-lg-min) { body {font-size: 125%;} }
