.icon-example {
  transform: scale(1.1);
  display: inline-block;
  width: 8rem;
  height: 5.4rem;
  fill: currentColor;
  &:hover{
    cursor:pointer;
  }
}

.icon-go-top {
  @include sprite($go-top);
  display:inline-block;
  position:absolute;
  right:30px;
  transform: scale(1);
  top:2px;
  z-index: 10;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.icon-arrow {
  @include sprite($arrow);
  display:inline-block;
  animation-duration: 3s;
  margin-left: 1rem;
  vertical-align: middle;
}

.icon-arrow-blue {
  @include sprite($arrow-blue);
  display:inline-block;
}


.icon-point {
  @include sprite($point);
  display:inline-block;
}

.active .icon-point {
  @include sprite($point_);
  display:inline-block;
}

.active .icon-line {
  @include sprite($line_);
  display:inline-block;
}

.icon-drop {
  &-blue {@include sprite($drop_blue);}
  &-black {@include sprite($drop_black);}
  &-yellow {@include sprite($drop_yellow);}
}
.icon{
  &-bottom_{@include sprite($bottom_); display: inline-block;}
  &-bottom{@include sprite($bottom); display: inline-block;}

  &-top_{@include sprite($top_); display: inline-block;}
  &-top{@include sprite($top); display: inline-block;}
}

.c-portfolio__slash{
  @include sprite($slash);
  transform: translateY(34%);
  display: inline-block;
}

.icon-close {
  @include sprite($close);
  display: inline-block;
  position: absolute;
  top: 4%;
  right: 18%;
  cursor: pointer;
}

.icon-social {
  &-br {
    @include sprite($br);display: inline-block;
  }
  &-f {
    @include sprite($f);display: inline-block;
  }
  &-tw {
    @include sprite($tw);display: inline-block;
  }
  &-inst {
    @include sprite($inst);display: inline-block;
  }
}

.icon-phone {
  @include sprite($phone-contact);
  display: inline-block;
  margin-right:24px;
}
.icon-plane {
  @include sprite($plane);
  display: inline-block;
}
.icon-marker {
  @include sprite($mark);
  margin-right:24px;
  display: inline-block;
}

.icon-lamp {
  width: $lamp-width;
  margin-right:24px;
  display: inline-block;
}

.icon-lamp-blue {
  @include sprite($lamp-blue);
  margin-right:24px;
  display: inline-block;
}

.icon-pencil {
   width: $pen-width;
   margin-right:24px;
   display: inline-block;
 }
.icon-pencil-blue {
  @include sprite($pen-blue);
  display: inline-block;
}
.icon-rupor {
  width: $rupor-width;
  display: inline-block;
}
.icon-rupor-blue {
  @include sprite($rupor-blue);
  display: inline-block;
}

.icon-notebook {
  width: $notebook-width;
  display: inline-block;
}

.icon-binocl {
  width: $binocl-width;
  display: inline-block;
}

.icon-no {
  width: $no-width;
  display: inline-block;
}

.icon-yes {
  @include sprite($yes);
  display: inline-block;
}

.icon-pumpkin {
  @include sprite($pumpkin);
  display: inline-block;
  position: absolute;
  right:-10%;
}

.icon-sheet {
  @include sprite($small-sheet);
  display: inline-block;
  position: absolute;
  right:50%;
  top:0
}
.icon-eggplant {
  @include sprite($eggplant);
  display: inline-block;
  position: absolute;
  left: -10rem;
}

.icon-chili {
  @include sprite($chili);
  display: inline-block;
  position: absolute;
  bottom: 2rem;
  right: 38%;
}

.icon-money {
  @include sprite($money);
  display: inline-block;
  position: absolute;
  right: -7rem;
  top: -4rem;
}

.icon-pumpkin_ {
  @include sprite($pumpkin_);
  display: inline-block;
  position: absolute;
  left: -6rem;
  top: -6rem;
}

.icon-avocado {
  @include sprite($avokado);
  display: inline-block;
  position: relative;
  z-index: 0;
  top: -2rem;
  left: 71%;
}

.icon-ice-v {
  @include sprite($ice-v);
  display: inline-block;
  position: absolute;
}
.icon-ice-y {
  @include sprite($ice-y);
  display: inline-block;
  position: absolute;
}

.icon-a {
  @include sprite($a);
  display: inline-block;
  position: relative;
  z-index: 0;
  top: -2rem;
  left: 71%;
}

.icon-elips-blue {
  @include sprite($elips-blue);
  display: inline-block;
  position: absolute;
}
.icon-elips-blue-border {
  @include sprite($elips-blue-border);
  display: inline-block;
  position: absolute;
}
.icon-elips-green-yellow {
  @include sprite($elips-green-yellow);
  display: inline-block;
  position: absolute;
}
.icon-elips-yellow-border {
  @include sprite($elips-yellow-border);
  display: inline-block;
  position: absolute;
}
.icon-star {
  @include sprite($star);
  display: inline-block;
  position: absolute;
}
.icon-sun {
  @include sprite($sun);
  display: inline-block;
  position: absolute;
}
.icon-photos {
  @include sprite($photos);
  display: inline-block;
  position: absolute;
}
.icon-tikets {
  @include sprite($tikets);
  display: inline-block;
  position: absolute;
}
.icon-bag {
  @include sprite($bag);
  display: inline-block;
  position: absolute;
}
.icon-a-star {
  @include sprite($a-star);
  display: inline-block;
  position: absolute;}
.icon-stars {
  @include sprite($stars);
  display: inline-block;
  position: absolute;}
.icon-star-green {
  @include sprite($star-green);
  display: inline-block;
  position: absolute;}
.icon-book {
  @include sprite($book);
  display: inline-block;
  position: absolute;}
.icon-b {
  @include sprite($b);
  display: inline-block;
  position: absolute;}
.icon-a {
  @include sprite($a);
  display: inline-block;
  position: absolute;}
.icon-clock {
  @include sprite($clock);
  display: inline-block;
  position: absolute;}
.icon-tooltip {
  @include sprite($tooltip);
  display: inline-block;
  position: absolute;}
.icon-cubok {
  @include sprite($cubok);
  display: inline-block;
  position: absolute;}
.icon-earth {
  @include sprite($earth);
  display: inline-block;
  position: absolute;}
.icon-pen-green {
  @include sprite($pen-green);
  display: inline-block;
  position: absolute;}
.icon-ruler {
  @include sprite($ruler);
  display: inline-block;
  position: absolute;}
.icon-lighting {
  @include sprite($lighting);
  display: inline-block;
  position: absolute;}
.icon-lamp-green {
  @include sprite($lamp-green);
  display: inline-block;
  position: absolute;}
.icon-c {
  @include sprite($c);
  display: inline-block;
  position: absolute;}
.icon-gear1{
  @include sprite($gear1);
  display: inline-block;
  position: absolute;
  top: -5rem;
  left: -13rem;
}
.icon-gear2{
  @include sprite($gear2);
  display: inline-block;
  position: absolute;
  right: -12rem;
  top: 6rem;
}
.icon-gear3{
  @include sprite($gear3);
  display: inline-block;
  position: absolute;
  left: -13rem;
  top: -1rem;
}
.icon-gear4{
  @include sprite($gear4);
  display: inline-block;
  position: absolute;
  top: 3rem;
  left: 10rem;
}
.icon-gear5{
  @include sprite($gear5);
  display: inline-block;
  position: absolute;
  top: -9rem;
  left: -10rem;
}
.icon-gear6{
  @include sprite($gear6);
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: 10rem;
}
.icon-gear7{
  @include sprite($gear7);
  display: inline-block;
  position: absolute;
  right: -32px;
  top: 2060px;
}
.icon-gear7.left {
  right: auto;
  top: 2300px;
  left:-30px;
}
.icon-gear8{
  @include sprite($gear8);
  display: inline-block;
  position: absolute;
  right: 0;
  top: 2500px;
}
.icon-gear9{
  @include sprite($gear9);
  display: inline-block;
  position: absolute;
  left: -11rem;
  top: 54rem;
}

