.icon-example {
  transform: scale(1.1);
  display: inline-block;
  width: 8rem;
  height: 5.4rem;
  fill: currentColor;
  &:hover{
    cursor:pointer;
  }
}

.icon-go-top {
  @include sprite($go-top);
  display:inline-block;
  position:absolute;
  right:30px;
  transform: scale(1);
  top:2px;
  z-index: 10;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.icon-arrow {
  @include sprite($arrow);
  display:inline-block;
  animation-duration: 3s;
  margin-left: 1rem;
  vertical-align: middle;
}

.icon-arrow-blue {
  @include sprite($arrow-blue);
  display:inline-block;
}


.icon-point {
  @include sprite($point);
  display:inline-block;
}

.active .icon-point {
  @include sprite($point_);
  display:inline-block;
}

.active .icon-line {
  @include sprite($line_);
  display:inline-block;
}

.icon-drop {
  &-blue {@include sprite($drop_blue);}
  &-black {@include sprite($drop_black);}
  &-yellow {@include sprite($drop_yellow);}
}
.icon{
  &-bottom_{@include sprite($bottom_); display: inline-block;}
  &-bottom{@include sprite($bottom); display: inline-block;}

  &-top_{@include sprite($top_); display: inline-block;}
  &-top{@include sprite($top); display: inline-block;}
}

.c-portfolio__slash{
  @include sprite($slash);
  transform: translateY(34%);
  display: inline-block;
}

.icon-close {
  @include sprite($close);
  display: inline-block;
  position: absolute;
  top: 4%;
  right: 18%;
  cursor: pointer;
}

.icon-social {
  &-br {
    @include sprite($br);display: inline-block;
  }
  &-f {
    @include sprite($f);display: inline-block;
  }
  &-tw {
    @include sprite($tw);display: inline-block;
  }
  &-inst {
    @include sprite($inst);display: inline-block;
  }
}

.icon-phone {
  @include sprite($phone-contact);
  display: inline-block;
  margin-right:24px;
}
.icon-plane {
  @include sprite($plane);
  display: inline-block;
}
.icon-marker {
  @include sprite($mark);
  margin-right:24px;
  display: inline-block;
}

.icon-lamp {
  width: $lamp-width;
  margin-right:24px;
  display: inline-block;
}

.icon-lamp-blue {
  @include sprite($lamp-blue);
  margin-right:24px;
  display: inline-block;
}

.icon-pencil {
   width: $pen-width;
   margin-right:24px;
   display: inline-block;
 }
.icon-pencil-blue {
  @include sprite($pen-blue);
  display: inline-block;
}
.icon-rupor {
  width: $rupor-width;
  display: inline-block;
}
.icon-rupor-blue {
  @include sprite($rupor-blue);
  display: inline-block;
}

.icon-notebook {
  width: $notebook-width;
  display: inline-block;
}

.icon-binocl {
  width: $binocl-width;
  display: inline-block;
}

.icon-no {
  width: $no-width;
  display: inline-block;
}

.icon-yes {
  @include sprite($yes);
  display: inline-block;
}

.logo-teplica {
  @include sprite($logo-teplica);
  text-indent: 9999px;
}
.icon-pumpkin {
  @include sprite($pumpkin);
  display: inline-block;
  position: absolute;
  right:-10%;
}

.icon-sheet {
  @include sprite($small-sheet);
  display: inline-block;
  position: absolute;
  right:50%;
  top:0
}
.icon-eggplant {
  @include sprite($eggplant);
  display: inline-block;
  position: absolute;
  left:-20%;
}

.icon-chili {
  @include sprite($chili);
  display: inline-block;
  position: absolute;
  bottom: 2rem;
  right: 38%;
}

.icon-money {
  @include sprite($money);
  display: inline-block;
  position: absolute;
  right:-50%;
  top:0
}

.icon-pumpkin_ {
  @include sprite($pumpkin_);
  display: inline-block;
  position: absolute;
  left:-30%;
  top:0
}

.icon-avocado {
  @include sprite($avokado);
  display: inline-block;
}

