.icon-example {
  transform: scale(1.1);
  display: inline-block;
  width: 8rem;
  height: 5.4rem;
  fill: currentColor;
  &:hover{
    cursor:pointer;
  }
}

.icon-go-top {
  @include sprite($go-top);
  display:inline-block;
  position:absolute;
  right:30px;
  transform: scale(1);
  top:2px;
  z-index: 10;
}

.icon-arrow {
  @include sprite($arrow);
  display:inline-block;
  animation-duration: 3s;
  margin-left: 1rem;
  vertical-align: middle;
}

.icon-point {
  @include sprite($point);
  display:inline-block;
}

.active .icon-point {
  @include sprite($point_);
  display:inline-block;
}

.active .icon-line {
  @include sprite($line_);
  display:inline-block;
}

.active .icon-drop {
  &-blue {@include sprite($drop_blue);}
  &-black {@include sprite($drop_black);}
  &-yellow {@include sprite($drop_yellow);}
}
.icon{
  &-bottom_{@include sprite($bottom_); display: inline-block;}
  &-bottom{@include sprite($bottom); display: inline-block;}

  &-top_{@include sprite($top_); display: inline-block;}
  &-top{@include sprite($top); display: inline-block;}
}

.c-portfolio__slash{
  @include sprite($slash);
  transform: translateY(34%);
  display: inline-block;
}