@keyframes animated-jello {
  11.1% {
    transform: skewX(0.7625deg) skewY(0.7625deg) translate(3px,6px) scale(0.97, 1.02)
  }
  22.2% {
    transform: skewX(-3.2deg) skewY(-2.25deg) translate(3px,6px)
  }
  33.3% {
    transform: skewX(3.15deg) skewY(3.15deg) translate(-3px,-6px) scale(1.05, 0.95)
  }
  44.4% {
    transform: skewX(-1.625deg) skewY(-1.625deg) translate(0px,0px) scale(1, 1)
  }
  55.5% {
    transform: skewX(0.7625deg) skewY(0.7625deg) translate(3px,6px) scale(0.97, 1.02)
  }
  66.6% {
    transform: skewX(-0.38125deg) skewY(-0.38125deg) translate(-3px,-3px)scale(1.04, 0.98)
  }
  77.7% {
    transform: skewX(0.190625deg) skewY(0.190625deg) translate(0px,0px) scale(0.99, 0.98)
  }
  88.8% {
    transform: skewX(-0.1053125deg) skewY(-0.1053125deg) translate(3px,6px) scale(1,1)
  }
  100% {
    transform: skewX(0.190625deg) skewY(0.190625deg) translate(3px,-5px) scale(0.96,1.02)
  }
}

.animated-jello {
  animation: animated-jello 6s infinite;
  transform-origin: center;
}
.preloader__wrapper{
  position: relative;
  width:100%;
  height:100vh;
}

.preloader__centred{
  position: fixed;
  width:5px;
  height:5px;
  top:50%;
  left:50%;
  @media screen and (max-width: 900px) {
    transform: scale(0.7);
  }
  @media screen and (max-width: 500px) {
    transform: scale(0.5);
  }
}

.preloader{
  overflow: hidden;
  &__icon {
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index:100;
    &.icon-plane {
      right: 0;
      top: 15vh;
    }
    &.icon-phone {
      right: 0;
      bottom: 15vh;
    }
    &.icon-lamp {
      .icon-lamp {
        position: static;
      }
      .lamp {stroke-width:2}
      right: 50%;
      top: 5vh;
    }
    &.icon-marker {
      top: 50vh;
      left: 3%;
    }
    &.icon-pencil {
      .icon-pencil  {
        position: static;
      }
      .pencil0, .pencil0  {stroke-width:2}
      bottom: 10vh;

      left: 10%;
    }

  }
}

/* Jelly styles */
.jelly-container {
  position: relative;
  display: inline-block;
  transform: translate(-50%, -50%);
}

.jelly-center,.jelly-container  {
  width: 680px;
  height: 500px;
  z-index:10;

}

.jelly-arrow{
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index:10;
  top: -120px;
  left: 127px;
  width:400px;
  height:250px;
}

.centroid-arrow {
  position: absolute;
  z-index: 100;
  z-index:10;
  top: -43px;
  left: 246px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.jelly-babl {
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 100;
  top: -254px;
  right: 132px;
  width:262px;
  height:162px;
}
.centroid-babl {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: -224px;
  right: 222px;
  z-index: 100;
}

.jelly-percent {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: -94px;
  right: -34px;
  width: 481px;
  height: 260px;
  z-index: 9;
}

.centroid-percent {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: -55px;
  right: 280px;
  z-index: 9;
}

.jelly-percent_ {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  width:200px;
  height:130px;
  top: -159px;
  left: 300px;
}

.centroid-percent_ {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: -121px;
  left: 392px;
  z-index: 100;
}


/* It's important to position the `.centroid-container` in the top-left corner
   This way the `.centroid-text` will be positioned in the center (with JavaScript) */
.centroid-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-58%, -50%);
  pointer-events: none;
}

.centroid-text {
  font-size: 100px;
  color: white;
}

