
.small-menu {
  position: absolute;
  top:1%;
  right:35%;
  width:70px;
  text-align: center;
  cursor:pointer;
  .icon-drop-blue, .icon-drop-black, .icon-drop-yellow {
    display:inline-block;
    position: relative;
  }
  &__text{
    line-height: 1;
  }
  .icon-drop-yellow {
    z-index: 20;
    margin: 0 -10px;
    transition-property: margin;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .icon-drop-black{
    z-index: 10;}
  .icon-drop-blue{
    z-index: 30;}

  z-index: 30;
  &:hover{
    .icon-drop-yellow {
      margin: 0 3px;
    }
    text-decoration: none;
  }
}

.small-menu-line {left:-70px; right:auto}