// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 400px;
$arrow-y: 317px;
$arrow-offset-x: -400px;
$arrow-offset-y: -317px;
$arrow-width: 43px;
$arrow-height: 32px;
$arrow-total-width: 456px;
$arrow-total-height: 350px;
$arrow-image: '../images/sprite.png';
$arrow: (400px, 317px, -400px, -317px, 43px, 32px, 456px, 350px, '../images/sprite.png', 'arrow', );
$arrow-blue-name: 'arrow_blue';
$arrow-blue-x: 218px;
$arrow-blue-y: 216px;
$arrow-blue-offset-x: -218px;
$arrow-blue-offset-y: -216px;
$arrow-blue-width: 91px;
$arrow-blue-height: 46px;
$arrow-blue-total-width: 456px;
$arrow-blue-total-height: 350px;
$arrow-blue-image: '../images/sprite.png';
$arrow-blue: (218px, 216px, -218px, -216px, 91px, 46px, 456px, 350px, '../images/sprite.png', 'arrow_blue', );
$babl-name: 'babl';
$babl-x: 263px;
$babl-y: 0px;
$babl-offset-x: -263px;
$babl-offset-y: 0px;
$babl-width: 83px;
$babl-height: 70px;
$babl-total-width: 456px;
$babl-total-height: 350px;
$babl-image: '../images/sprite.png';
$babl: (263px, 0px, -263px, 0px, 83px, 70px, 456px, 350px, '../images/sprite.png', 'babl', );
$binocl-name: 'binocl';
$binocl-x: 181px;
$binocl-y: 0px;
$binocl-offset-x: -181px;
$binocl-offset-y: 0px;
$binocl-width: 82px;
$binocl-height: 75px;
$binocl-total-width: 456px;
$binocl-total-height: 350px;
$binocl-image: '../images/sprite.png';
$binocl: (181px, 0px, -181px, 0px, 82px, 75px, 456px, 350px, '../images/sprite.png', 'binocl', );
$bottom-name: 'bottom';
$bottom-x: 230px;
$bottom-y: 160px;
$bottom-offset-x: -230px;
$bottom-offset-y: -160px;
$bottom-width: 28px;
$bottom-height: 15px;
$bottom-total-width: 456px;
$bottom-total-height: 350px;
$bottom-image: '../images/sprite.png';
$bottom: (230px, 160px, -230px, -160px, 28px, 15px, 456px, 350px, '../images/sprite.png', 'bottom', );
$bottom-name: 'bottom_';
$bottom-x: 202px;
$bottom-y: 160px;
$bottom-offset-x: -202px;
$bottom-offset-y: -160px;
$bottom-width: 28px;
$bottom-height: 15px;
$bottom-total-width: 456px;
$bottom-total-height: 350px;
$bottom-image: '../images/sprite.png';
$bottom-: (202px, 160px, -202px, -160px, 28px, 15px, 456px, 350px, '../images/sprite.png', 'bottom_', );
$br-name: 'br';
$br-x: 363px;
$br-y: 238px;
$br-offset-x: -363px;
$br-offset-y: -238px;
$br-width: 21px;
$br-height: 21px;
$br-total-width: 456px;
$br-total-height: 350px;
$br-image: '../images/sprite.png';
$br: (363px, 238px, -363px, -238px, 21px, 21px, 456px, 350px, '../images/sprite.png', 'br', );
$close-name: 'close';
$close-x: 400px;
$close-y: 266px;
$close-offset-x: -400px;
$close-offset-y: -266px;
$close-width: 52px;
$close-height: 51px;
$close-total-width: 456px;
$close-total-height: 350px;
$close-image: '../images/sprite.png';
$close: (400px, 266px, -400px, -266px, 52px, 51px, 456px, 350px, '../images/sprite.png', 'close', );
$drop-black-name: 'drop_black';
$drop-black-x: 379px;
$drop-black-y: 205px;
$drop-black-offset-x: -379px;
$drop-black-offset-y: -205px;
$drop-black-width: 17px;
$drop-black-height: 26px;
$drop-black-total-width: 456px;
$drop-black-total-height: 350px;
$drop-black-image: '../images/sprite.png';
$drop-black: (379px, 205px, -379px, -205px, 17px, 26px, 456px, 350px, '../images/sprite.png', 'drop_black', );
$drop-blue-name: 'drop_blue';
$drop-blue-x: 362px;
$drop-blue-y: 205px;
$drop-blue-offset-x: -362px;
$drop-blue-offset-y: -205px;
$drop-blue-width: 17px;
$drop-blue-height: 26px;
$drop-blue-total-width: 456px;
$drop-blue-total-height: 350px;
$drop-blue-image: '../images/sprite.png';
$drop-blue: (362px, 205px, -362px, -205px, 17px, 26px, 456px, 350px, '../images/sprite.png', 'drop_blue', );
$drop-yellow-name: 'drop_yellow';
$drop-yellow-x: 346px;
$drop-yellow-y: 238px;
$drop-yellow-offset-x: -346px;
$drop-yellow-offset-y: -238px;
$drop-yellow-width: 17px;
$drop-yellow-height: 26px;
$drop-yellow-total-width: 456px;
$drop-yellow-total-height: 350px;
$drop-yellow-image: '../images/sprite.png';
$drop-yellow: (346px, 238px, -346px, -238px, 17px, 26px, 456px, 350px, '../images/sprite.png', 'drop_yellow', );
$f-name: 'f';
$f-x: 346px;
$f-y: 264px;
$f-offset-x: -346px;
$f-offset-y: -264px;
$f-width: 21px;
$f-height: 21px;
$f-total-width: 456px;
$f-total-height: 350px;
$f-image: '../images/sprite.png';
$f: (346px, 264px, -346px, -264px, 21px, 21px, 456px, 350px, '../images/sprite.png', 'f', );
$go-top-name: 'go-top';
$go-top-x: 101px;
$go-top-y: 94px;
$go-top-offset-x: -101px;
$go-top-offset-y: -94px;
$go-top-width: 62px;
$go-top-height: 95px;
$go-top-total-width: 456px;
$go-top-total-height: 350px;
$go-top-image: '../images/sprite.png';
$go-top: (101px, 94px, -101px, -94px, 62px, 95px, 456px, 350px, '../images/sprite.png', 'go-top', );
$inst-name: 'inst';
$inst-x: 367px;
$inst-y: 264px;
$inst-offset-x: -367px;
$inst-offset-y: -264px;
$inst-width: 21px;
$inst-height: 21px;
$inst-total-width: 456px;
$inst-total-height: 350px;
$inst-image: '../images/sprite.png';
$inst: (367px, 264px, -367px, -264px, 21px, 21px, 456px, 350px, '../images/sprite.png', 'inst', );
$lamp-name: 'lamp';
$lamp-x: 181px;
$lamp-y: 75px;
$lamp-offset-x: -181px;
$lamp-offset-y: -75px;
$lamp-width: 70px;
$lamp-height: 85px;
$lamp-total-width: 456px;
$lamp-total-height: 350px;
$lamp-image: '../images/sprite.png';
$lamp: (181px, 75px, -181px, -75px, 70px, 85px, 456px, 350px, '../images/sprite.png', 'lamp', );
$lamp-name: 'lamp_';
$lamp-x: 400px;
$lamp-y: 0px;
$lamp-offset-x: -400px;
$lamp-offset-y: 0px;
$lamp-width: 56px;
$lamp-height: 65px;
$lamp-total-width: 456px;
$lamp-total-height: 350px;
$lamp-image: '../images/sprite.png';
$lamp-: (400px, 0px, -400px, 0px, 56px, 65px, 456px, 350px, '../images/sprite.png', 'lamp_', );
$lamp-blue-name: 'lamp_blue';
$lamp-blue-x: 101px;
$lamp-blue-y: 0px;
$lamp-blue-offset-x: -101px;
$lamp-blue-offset-y: 0px;
$lamp-blue-width: 80px;
$lamp-blue-height: 94px;
$lamp-blue-total-width: 456px;
$lamp-blue-total-height: 350px;
$lamp-blue-image: '../images/sprite.png';
$lamp-blue: (101px, 0px, -101px, 0px, 80px, 94px, 456px, 350px, '../images/sprite.png', 'lamp_blue', );
$li-name: 'li';
$li-x: 441px;
$li-y: 120px;
$li-offset-x: -441px;
$li-offset-y: -120px;
$li-width: 11px;
$li-height: 11px;
$li-total-width: 456px;
$li-total-height: 350px;
$li-image: '../images/sprite.png';
$li: (441px, 120px, -441px, -120px, 11px, 11px, 456px, 350px, '../images/sprite.png', 'li', );
$line-name: 'line_';
$line-x: 346px;
$line-y: 185px;
$line-offset-x: -346px;
$line-offset-y: -185px;
$line-width: 38px;
$line-height: 20px;
$line-total-width: 456px;
$line-total-height: 350px;
$line-image: '../images/sprite.png';
$line-: (346px, 185px, -346px, -185px, 38px, 20px, 456px, 350px, '../images/sprite.png', 'line_', );
$mark-name: 'mark';
$mark-x: 400px;
$mark-y: 120px;
$mark-offset-x: -400px;
$mark-offset-y: -120px;
$mark-width: 41px;
$mark-height: 73px;
$mark-total-width: 456px;
$mark-total-height: 350px;
$mark-image: '../images/sprite.png';
$mark: (400px, 120px, -400px, -120px, 41px, 73px, 456px, 350px, '../images/sprite.png', 'mark', );
$mark-contact-name: 'mark_contact';
$mark-contact-x: 400px;
$mark-contact-y: 193px;
$mark-contact-offset-x: -400px;
$mark-contact-offset-y: -193px;
$mark-contact-width: 41px;
$mark-contact-height: 73px;
$mark-contact-total-width: 456px;
$mark-contact-total-height: 350px;
$mark-contact-image: '../images/sprite.png';
$mark-contact: (400px, 193px, -400px, -193px, 41px, 73px, 456px, 350px, '../images/sprite.png', 'mark_contact', );
$no-name: 'no';
$no-x: 263px;
$no-y: 70px;
$no-offset-x: -263px;
$no-offset-y: -70px;
$no-width: 73px;
$no-height: 74px;
$no-total-width: 456px;
$no-total-height: 350px;
$no-image: '../images/sprite.png';
$no: (263px, 70px, -263px, -70px, 73px, 74px, 456px, 350px, '../images/sprite.png', 'no', );
$notebook-name: 'notebook';
$notebook-x: 70px;
$notebook-y: 216px;
$notebook-offset-x: -70px;
$notebook-offset-y: -216px;
$notebook-width: 76px;
$notebook-height: 63px;
$notebook-total-width: 456px;
$notebook-total-height: 350px;
$notebook-image: '../images/sprite.png';
$notebook: (70px, 216px, -70px, -216px, 76px, 63px, 456px, 350px, '../images/sprite.png', 'notebook', );
$pen-name: 'pen';
$pen-x: 346px;
$pen-y: 137px;
$pen-offset-x: -346px;
$pen-offset-y: -137px;
$pen-width: 48px;
$pen-height: 48px;
$pen-total-width: 456px;
$pen-total-height: 350px;
$pen-image: '../images/sprite.png';
$pen: (346px, 137px, -346px, -137px, 48px, 48px, 456px, 350px, '../images/sprite.png', 'pen', );
$pen-blue-name: 'pen_blue';
$pen-blue-x: 400px;
$pen-blue-y: 65px;
$pen-blue-offset-x: -400px;
$pen-blue-offset-y: -65px;
$pen-blue-width: 55px;
$pen-blue-height: 55px;
$pen-blue-total-width: 456px;
$pen-blue-total-height: 350px;
$pen-blue-image: '../images/sprite.png';
$pen-blue: (400px, 65px, -400px, -65px, 55px, 55px, 456px, 350px, '../images/sprite.png', 'pen_blue', );
$phone-name: 'phone';
$phone-x: 346px;
$phone-y: 0px;
$phone-offset-x: -346px;
$phone-offset-y: 0px;
$phone-width: 54px;
$phone-height: 73px;
$phone-total-width: 456px;
$phone-total-height: 350px;
$phone-image: '../images/sprite.png';
$phone: (346px, 0px, -346px, 0px, 54px, 73px, 456px, 350px, '../images/sprite.png', 'phone', );
$phone-contact-name: 'phone_contact';
$phone-contact-x: 346px;
$phone-contact-y: 73px;
$phone-contact-offset-x: -346px;
$phone-contact-offset-y: -73px;
$phone-contact-width: 40px;
$phone-contact-height: 64px;
$phone-contact-total-width: 456px;
$phone-contact-total-height: 350px;
$phone-contact-image: '../images/sprite.png';
$phone-contact: (346px, 73px, -346px, -73px, 40px, 64px, 456px, 350px, '../images/sprite.png', 'phone_contact', );
$plane-name: 'plane';
$plane-x: 130px;
$plane-y: 291px;
$plane-offset-x: -130px;
$plane-offset-y: -291px;
$plane-width: 65px;
$plane-height: 58px;
$plane-total-width: 456px;
$plane-total-height: 350px;
$plane-image: '../images/sprite.png';
$plane: (130px, 291px, -130px, -291px, 65px, 58px, 456px, 350px, '../images/sprite.png', 'plane', );
$plane-contact-name: 'plane_contact';
$plane-contact-x: 65px;
$plane-contact-y: 291px;
$plane-contact-offset-x: -65px;
$plane-contact-offset-y: -291px;
$plane-contact-width: 65px;
$plane-contact-height: 58px;
$plane-contact-total-width: 456px;
$plane-contact-total-height: 350px;
$plane-contact-image: '../images/sprite.png';
$plane-contact: (65px, 291px, -65px, -291px, 65px, 58px, 456px, 350px, '../images/sprite.png', 'plane_contact', );
$plane-small-name: 'plane_small';
$plane-small-x: 0px;
$plane-small-y: 291px;
$plane-small-offset-x: 0px;
$plane-small-offset-y: -291px;
$plane-small-width: 65px;
$plane-small-height: 59px;
$plane-small-total-width: 456px;
$plane-small-total-height: 350px;
$plane-small-image: '../images/sprite.png';
$plane-small: (0px, 291px, 0px, -291px, 65px, 59px, 456px, 350px, '../images/sprite.png', 'plane_small', );
$point-name: 'point';
$point-x: 181px;
$point-y: 196px;
$point-offset-x: -181px;
$point-offset-y: -196px;
$point-width: 20px;
$point-height: 20px;
$point-total-width: 456px;
$point-total-height: 350px;
$point-image: '../images/sprite.png';
$point: (181px, 196px, -181px, -196px, 20px, 20px, 456px, 350px, '../images/sprite.png', 'point', );
$point-name: 'point_';
$point-x: 201px;
$point-y: 196px;
$point-offset-x: -201px;
$point-offset-y: -196px;
$point-width: 20px;
$point-height: 20px;
$point-total-width: 456px;
$point-total-height: 350px;
$point-image: '../images/sprite.png';
$point-: (201px, 196px, -201px, -196px, 20px, 20px, 456px, 350px, '../images/sprite.png', 'point_', );
$procent-name: 'procent';
$procent-x: 0px;
$procent-y: 87px;
$procent-offset-x: 0px;
$procent-offset-y: -87px;
$procent-width: 61px;
$procent-height: 129px;
$procent-total-width: 456px;
$procent-total-height: 350px;
$procent-image: '../images/sprite.png';
$procent: (0px, 87px, 0px, -87px, 61px, 129px, 456px, 350px, '../images/sprite.png', 'procent', );
$rupor-name: 'rupor';
$rupor-x: 146px;
$rupor-y: 216px;
$rupor-offset-x: -146px;
$rupor-offset-y: -216px;
$rupor-width: 72px;
$rupor-height: 61px;
$rupor-total-width: 456px;
$rupor-total-height: 350px;
$rupor-image: '../images/sprite.png';
$rupor: (146px, 216px, -146px, -216px, 72px, 61px, 456px, 350px, '../images/sprite.png', 'rupor', );
$rupor-name: 'rupor_';
$rupor-x: 0px;
$rupor-y: 0px;
$rupor-offset-x: 0px;
$rupor-offset-y: 0px;
$rupor-width: 101px;
$rupor-height: 87px;
$rupor-total-width: 456px;
$rupor-total-height: 350px;
$rupor-image: '../images/sprite.png';
$rupor-: (0px, 0px, 0px, 0px, 101px, 87px, 456px, 350px, '../images/sprite.png', 'rupor_', );
$rupor-blue-name: 'rupor_blue';
$rupor-blue-x: 263px;
$rupor-blue-y: 144px;
$rupor-blue-offset-x: -263px;
$rupor-blue-offset-y: -144px;
$rupor-blue-width: 78px;
$rupor-blue-height: 66px;
$rupor-blue-total-width: 456px;
$rupor-blue-total-height: 350px;
$rupor-blue-image: '../images/sprite.png';
$rupor-blue: (263px, 144px, -263px, -144px, 78px, 66px, 456px, 350px, '../images/sprite.png', 'rupor_blue', );
$slash-name: 'slash';
$slash-x: 346px;
$slash-y: 205px;
$slash-offset-x: -346px;
$slash-offset-y: -205px;
$slash-width: 16px;
$slash-height: 33px;
$slash-total-width: 456px;
$slash-total-height: 350px;
$slash-image: '../images/sprite.png';
$slash: (346px, 205px, -346px, -205px, 16px, 33px, 456px, 350px, '../images/sprite.png', 'slash', );
$top-name: 'top';
$top-x: 181px;
$top-y: 181px;
$top-offset-x: -181px;
$top-offset-y: -181px;
$top-width: 28px;
$top-height: 15px;
$top-total-width: 456px;
$top-total-height: 350px;
$top-image: '../images/sprite.png';
$top: (181px, 181px, -181px, -181px, 28px, 15px, 456px, 350px, '../images/sprite.png', 'top', );
$top-name: 'top_';
$top-x: 209px;
$top-y: 181px;
$top-offset-x: -209px;
$top-offset-y: -181px;
$top-width: 28px;
$top-height: 15px;
$top-total-width: 456px;
$top-total-height: 350px;
$top-image: '../images/sprite.png';
$top-: (209px, 181px, -209px, -181px, 28px, 15px, 456px, 350px, '../images/sprite.png', 'top_', );
$tw-name: 'tw';
$tw-x: 181px;
$tw-y: 160px;
$tw-offset-x: -181px;
$tw-offset-y: -160px;
$tw-width: 21px;
$tw-height: 21px;
$tw-total-width: 456px;
$tw-total-height: 350px;
$tw-image: '../images/sprite.png';
$tw: (181px, 160px, -181px, -160px, 21px, 21px, 456px, 350px, '../images/sprite.png', 'tw', );
$yes-name: 'yes';
$yes-x: 0px;
$yes-y: 216px;
$yes-offset-x: 0px;
$yes-offset-y: -216px;
$yes-width: 70px;
$yes-height: 75px;
$yes-total-width: 456px;
$yes-total-height: 350px;
$yes-image: '../images/sprite.png';
$yes: (0px, 216px, 0px, -216px, 70px, 75px, 456px, 350px, '../images/sprite.png', 'yes', );
$spritesheet-width: 456px;
$spritesheet-height: 350px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow, $arrow-blue, $babl, $binocl, $bottom, $bottom-, $br, $close, $drop-black, $drop-blue, $drop-yellow, $f, $go-top, $inst, $lamp, $lamp-, $lamp-blue, $li, $line-, $mark, $mark-contact, $no, $notebook, $pen, $pen-blue, $phone, $phone-contact, $plane, $plane-contact, $plane-small, $point, $point-, $procent, $rupor, $rupor-, $rupor-blue, $slash, $top, $top-, $tw, $yes, );
$spritesheet: (456px, 350px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
