// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow-left';
$arrow-left-x: 0px;
$arrow-left-y: 263px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: -263px;
$arrow-left-width: 184px;
$arrow-left-height: 184px;
$arrow-left-total-width: 760px;
$arrow-left-total-height: 691px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (0px, 263px, 0px, -263px, 184px, 184px, 760px, 691px, '../images/sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right_';
$arrow-right-x: 395px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -395px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 184px;
$arrow-right-height: 184px;
$arrow-right-total-width: 760px;
$arrow-right-total-height: 691px;
$arrow-right-image: '../images/sprite.png';
$arrow-right-: (395px, 0px, -395px, 0px, 184px, 184px, 760px, 691px, '../images/sprite.png', 'arrow-right_', );
$arrow-name: 'arrow';
$arrow-x: 345px;
$arrow-y: 177px;
$arrow-offset-x: -345px;
$arrow-offset-y: -177px;
$arrow-width: 43px;
$arrow-height: 32px;
$arrow-total-width: 760px;
$arrow-total-height: 691px;
$arrow-image: '../images/sprite.png';
$arrow: (345px, 177px, -345px, -177px, 43px, 32px, 760px, 691px, '../images/sprite.png', 'arrow', );
$arrow-blue-name: 'arrow_blue';
$arrow-blue-x: 237px;
$arrow-blue-y: 212px;
$arrow-blue-offset-x: -237px;
$arrow-blue-offset-y: -212px;
$arrow-blue-width: 91px;
$arrow-blue-height: 46px;
$arrow-blue-total-width: 760px;
$arrow-blue-total-height: 691px;
$arrow-blue-image: '../images/sprite.png';
$arrow-blue: (237px, 212px, -237px, -212px, 91px, 46px, 760px, 691px, '../images/sprite.png', 'arrow_blue', );
$avokado-name: 'avokado';
$avokado-x: 579px;
$avokado-y: 275px;
$avokado-offset-x: -579px;
$avokado-offset-y: -275px;
$avokado-width: 119px;
$avokado-height: 117px;
$avokado-total-width: 760px;
$avokado-total-height: 691px;
$avokado-image: '../images/sprite.png';
$avokado: (579px, 275px, -579px, -275px, 119px, 117px, 760px, 691px, '../images/sprite.png', 'avokado', );
$babl-name: 'babl';
$babl-x: 477px;
$babl-y: 184px;
$babl-offset-x: -477px;
$babl-offset-y: -184px;
$babl-width: 83px;
$babl-height: 70px;
$babl-total-width: 760px;
$babl-total-height: 691px;
$babl-image: '../images/sprite.png';
$babl: (477px, 184px, -477px, -184px, 83px, 70px, 760px, 691px, '../images/sprite.png', 'babl', );
$binocl-name: 'binocl';
$binocl-x: 395px;
$binocl-y: 184px;
$binocl-offset-x: -395px;
$binocl-offset-y: -184px;
$binocl-width: 82px;
$binocl-height: 75px;
$binocl-total-width: 760px;
$binocl-total-height: 691px;
$binocl-image: '../images/sprite.png';
$binocl: (395px, 184px, -395px, -184px, 82px, 75px, 760px, 691px, '../images/sprite.png', 'binocl', );
$bottom-name: 'bottom';
$bottom-x: 718px;
$bottom-y: 257px;
$bottom-offset-x: -718px;
$bottom-offset-y: -257px;
$bottom-width: 28px;
$bottom-height: 15px;
$bottom-total-width: 760px;
$bottom-total-height: 691px;
$bottom-image: '../images/sprite.png';
$bottom: (718px, 257px, -718px, -257px, 28px, 15px, 760px, 691px, '../images/sprite.png', 'bottom', );
$bottom-name: 'bottom_';
$bottom-x: 328px;
$bottom-y: 238px;
$bottom-offset-x: -328px;
$bottom-offset-y: -238px;
$bottom-width: 28px;
$bottom-height: 15px;
$bottom-total-width: 760px;
$bottom-total-height: 691px;
$bottom-image: '../images/sprite.png';
$bottom-: (328px, 238px, -328px, -238px, 28px, 15px, 760px, 691px, '../images/sprite.png', 'bottom_', );
$br-name: 'br';
$br-x: 698px;
$br-y: 370px;
$br-offset-x: -698px;
$br-offset-y: -370px;
$br-width: 21px;
$br-height: 21px;
$br-total-width: 760px;
$br-total-height: 691px;
$br-image: '../images/sprite.png';
$br: (698px, 370px, -698px, -370px, 21px, 21px, 760px, 691px, '../images/sprite.png', 'br', );
$chili-name: 'chili';
$chili-x: 184px;
$chili-y: 263px;
$chili-offset-x: -184px;
$chili-offset-y: -263px;
$chili-width: 226px;
$chili-height: 139px;
$chili-total-width: 760px;
$chili-total-height: 691px;
$chili-image: '../images/sprite.png';
$chili: (184px, 263px, -184px, -263px, 226px, 139px, 760px, 691px, '../images/sprite.png', 'chili', );
$close-name: 'close';
$close-x: 410px;
$close-y: 350px;
$close-offset-x: -410px;
$close-offset-y: -350px;
$close-width: 52px;
$close-height: 51px;
$close-total-width: 760px;
$close-total-height: 691px;
$close-image: '../images/sprite.png';
$close: (410px, 350px, -410px, -350px, 52px, 51px, 760px, 691px, '../images/sprite.png', 'close', );
$drop-black-name: 'drop_black';
$drop-black-x: 560px;
$drop-black-y: 210px;
$drop-black-offset-x: -560px;
$drop-black-offset-y: -210px;
$drop-black-width: 17px;
$drop-black-height: 26px;
$drop-black-total-width: 760px;
$drop-black-total-height: 691px;
$drop-black-image: '../images/sprite.png';
$drop-black: (560px, 210px, -560px, -210px, 17px, 26px, 760px, 691px, '../images/sprite.png', 'drop_black', );
$drop-blue-name: 'drop_blue';
$drop-blue-x: 328px;
$drop-blue-y: 212px;
$drop-blue-offset-x: -328px;
$drop-blue-offset-y: -212px;
$drop-blue-width: 17px;
$drop-blue-height: 26px;
$drop-blue-total-width: 760px;
$drop-blue-total-height: 691px;
$drop-blue-image: '../images/sprite.png';
$drop-blue: (328px, 212px, -328px, -212px, 17px, 26px, 760px, 691px, '../images/sprite.png', 'drop_blue', );
$drop-yellow-name: 'drop_yellow';
$drop-yellow-x: 560px;
$drop-yellow-y: 184px;
$drop-yellow-offset-x: -560px;
$drop-yellow-offset-y: -184px;
$drop-yellow-width: 17px;
$drop-yellow-height: 26px;
$drop-yellow-total-width: 760px;
$drop-yellow-total-height: 691px;
$drop-yellow-image: '../images/sprite.png';
$drop-yellow: (560px, 184px, -560px, -184px, 17px, 26px, 760px, 691px, '../images/sprite.png', 'drop_yellow', );
$eggplant-name: 'eggplant';
$eggplant-x: 0px;
$eggplant-y: 113px;
$eggplant-offset-x: 0px;
$eggplant-offset-y: -113px;
$eggplant-width: 237px;
$eggplant-height: 150px;
$eggplant-total-width: 760px;
$eggplant-total-height: 691px;
$eggplant-image: '../images/sprite.png';
$eggplant: (0px, 113px, 0px, -113px, 237px, 150px, 760px, 691px, '../images/sprite.png', 'eggplant', );
$f-name: 'f';
$f-x: 345px;
$f-y: 212px;
$f-offset-x: -345px;
$f-offset-y: -212px;
$f-width: 21px;
$f-height: 21px;
$f-total-width: 760px;
$f-total-height: 691px;
$f-image: '../images/sprite.png';
$f: (345px, 212px, -345px, -212px, 21px, 21px, 760px, 691px, '../images/sprite.png', 'f', );
$go-top-name: 'go-top';
$go-top-x: 698px;
$go-top-y: 275px;
$go-top-offset-x: -698px;
$go-top-offset-y: -275px;
$go-top-width: 62px;
$go-top-height: 95px;
$go-top-total-width: 760px;
$go-top-total-height: 691px;
$go-top-image: '../images/sprite.png';
$go-top: (698px, 275px, -698px, -275px, 62px, 95px, 760px, 691px, '../images/sprite.png', 'go-top', );
$inst-name: 'inst';
$inst-x: 719px;
$inst-y: 370px;
$inst-offset-x: -719px;
$inst-offset-y: -370px;
$inst-width: 21px;
$inst-height: 21px;
$inst-total-width: 760px;
$inst-total-height: 691px;
$inst-image: '../images/sprite.png';
$inst: (719px, 370px, -719px, -370px, 21px, 21px, 760px, 691px, '../images/sprite.png', 'inst', );
$lamp-name: 'lamp_';
$lamp-x: 150px;
$lamp-y: 528px;
$lamp-offset-x: -150px;
$lamp-offset-y: -528px;
$lamp-width: 56px;
$lamp-height: 65px;
$lamp-total-width: 760px;
$lamp-total-height: 691px;
$lamp-image: '../images/sprite.png';
$lamp-: (150px, 528px, -150px, -528px, 56px, 65px, 760px, 691px, '../images/sprite.png', 'lamp_', );
$lamp-blue-name: 'lamp_blue';
$lamp-blue-x: 0px;
$lamp-blue-y: 528px;
$lamp-blue-offset-x: 0px;
$lamp-blue-offset-y: -528px;
$lamp-blue-width: 80px;
$lamp-blue-height: 94px;
$lamp-blue-total-width: 760px;
$lamp-blue-total-height: 691px;
$lamp-blue-image: '../images/sprite.png';
$lamp-blue: (0px, 528px, 0px, -528px, 80px, 94px, 760px, 691px, '../images/sprite.png', 'lamp_blue', );
$li-name: 'li';
$li-x: 746px;
$li-y: 257px;
$li-offset-x: -746px;
$li-offset-y: -257px;
$li-width: 11px;
$li-height: 11px;
$li-total-width: 760px;
$li-total-height: 691px;
$li-image: '../images/sprite.png';
$li: (746px, 257px, -746px, -257px, 11px, 11px, 760px, 691px, '../images/sprite.png', 'li', );
$line-name: 'line_';
$line-x: 718px;
$line-y: 237px;
$line-offset-x: -718px;
$line-offset-y: -237px;
$line-width: 38px;
$line-height: 20px;
$line-total-width: 760px;
$line-total-height: 691px;
$line-image: '../images/sprite.png';
$line-: (718px, 237px, -718px, -237px, 38px, 20px, 760px, 691px, '../images/sprite.png', 'line_', );
$line-3-name: 'line_3';
$line-3-x: 184px;
$line-3-y: 416px;
$line-3-offset-x: -184px;
$line-3-offset-y: -416px;
$line-3-width: 78px;
$line-3-height: 15px;
$line-3-total-width: 760px;
$line-3-total-height: 691px;
$line-3-image: '../images/sprite.png';
$line-3: (184px, 416px, -184px, -416px, 78px, 15px, 760px, 691px, '../images/sprite.png', 'line_3', );
$line-4-name: 'line_4';
$line-4-x: 184px;
$line-4-y: 402px;
$line-4-offset-x: -184px;
$line-4-offset-y: -402px;
$line-4-width: 99px;
$line-4-height: 14px;
$line-4-total-width: 760px;
$line-4-total-height: 691px;
$line-4-image: '../images/sprite.png';
$line-4: (184px, 402px, -184px, -402px, 99px, 14px, 760px, 691px, '../images/sprite.png', 'line_4', );
$line-5-name: 'line_5';
$line-5-x: 579px;
$line-5-y: 392px;
$line-5-offset-x: -579px;
$line-5-offset-y: -392px;
$line-5-width: 164px;
$line-5-height: 45px;
$line-5-total-width: 760px;
$line-5-total-height: 691px;
$line-5-image: '../images/sprite.png';
$line-5: (579px, 392px, -579px, -392px, 164px, 45px, 760px, 691px, '../images/sprite.png', 'line_5', );
$logo-teplica-name: 'logo-teplica';
$logo-teplica-x: 0px;
$logo-teplica-y: 0px;
$logo-teplica-offset-x: 0px;
$logo-teplica-offset-y: 0px;
$logo-teplica-width: 395px;
$logo-teplica-height: 113px;
$logo-teplica-total-width: 760px;
$logo-teplica-total-height: 691px;
$logo-teplica-image: '../images/sprite.png';
$logo-teplica: (0px, 0px, 0px, 0px, 395px, 113px, 760px, 691px, '../images/sprite.png', 'logo-teplica', );
$mark-name: 'mark';
$mark-x: 718px;
$mark-y: 164px;
$mark-offset-x: -718px;
$mark-offset-y: -164px;
$mark-width: 41px;
$mark-height: 73px;
$mark-total-width: 760px;
$mark-total-height: 691px;
$mark-image: '../images/sprite.png';
$mark: (718px, 164px, -718px, -164px, 41px, 73px, 760px, 691px, '../images/sprite.png', 'mark', );
$money-name: 'money';
$money-x: 0px;
$money-y: 447px;
$money-offset-x: 0px;
$money-offset-y: -447px;
$money-width: 107px;
$money-height: 81px;
$money-total-width: 760px;
$money-total-height: 691px;
$money-image: '../images/sprite.png';
$money: (0px, 447px, 0px, -447px, 107px, 81px, 760px, 691px, '../images/sprite.png', 'money', );
$no-name: 'no';
$no-x: 107px;
$no-y: 447px;
$no-offset-x: -107px;
$no-offset-y: -447px;
$no-width: 73px;
$no-height: 74px;
$no-total-width: 760px;
$no-total-height: 691px;
$no-image: '../images/sprite.png';
$no: (107px, 447px, -107px, -447px, 73px, 74px, 760px, 691px, '../images/sprite.png', 'no', );
$notebook-name: 'notebook';
$notebook-x: 258px;
$notebook-y: 447px;
$notebook-offset-x: -258px;
$notebook-offset-y: -447px;
$notebook-width: 76px;
$notebook-height: 63px;
$notebook-total-width: 760px;
$notebook-total-height: 691px;
$notebook-image: '../images/sprite.png';
$notebook: (258px, 447px, -258px, -447px, 76px, 63px, 760px, 691px, '../images/sprite.png', 'notebook', );
$pen-name: 'pen';
$pen-x: 462px;
$pen-y: 350px;
$pen-offset-x: -462px;
$pen-offset-y: -350px;
$pen-width: 48px;
$pen-height: 48px;
$pen-total-width: 760px;
$pen-total-height: 691px;
$pen-image: '../images/sprite.png';
$pen: (462px, 350px, -462px, -350px, 48px, 48px, 760px, 691px, '../images/sprite.png', 'pen', );
$pen-blue-name: 'pen_blue';
$pen-blue-x: 471px;
$pen-blue-y: 447px;
$pen-blue-offset-x: -471px;
$pen-blue-offset-y: -447px;
$pen-blue-width: 55px;
$pen-blue-height: 55px;
$pen-blue-total-width: 760px;
$pen-blue-total-height: 691px;
$pen-blue-image: '../images/sprite.png';
$pen-blue: (471px, 447px, -471px, -447px, 55px, 55px, 760px, 691px, '../images/sprite.png', 'pen_blue', );
$pepper-name: 'pepper';
$pepper-x: 579px;
$pepper-y: 164px;
$pepper-offset-x: -579px;
$pepper-offset-y: -164px;
$pepper-width: 139px;
$pepper-height: 111px;
$pepper-total-width: 760px;
$pepper-total-height: 691px;
$pepper-image: '../images/sprite.png';
$pepper: (579px, 164px, -579px, -164px, 139px, 111px, 760px, 691px, '../images/sprite.png', 'pepper', );
$phone-name: 'phone';
$phone-x: 511px;
$phone-y: 263px;
$phone-offset-x: -511px;
$phone-offset-y: -263px;
$phone-width: 54px;
$phone-height: 73px;
$phone-total-width: 760px;
$phone-total-height: 691px;
$phone-image: '../images/sprite.png';
$phone: (511px, 263px, -511px, -263px, 54px, 73px, 760px, 691px, '../images/sprite.png', 'phone', );
$phone-contact-name: 'phone_contact';
$phone-contact-x: 345px;
$phone-contact-y: 113px;
$phone-contact-offset-x: -345px;
$phone-contact-offset-y: -113px;
$phone-contact-width: 40px;
$phone-contact-height: 64px;
$phone-contact-total-width: 760px;
$phone-contact-total-height: 691px;
$phone-contact-image: '../images/sprite.png';
$phone-contact: (345px, 113px, -345px, -113px, 40px, 64px, 760px, 691px, '../images/sprite.png', 'phone_contact', );
$plane-name: 'plane';
$plane-x: 406px;
$plane-y: 447px;
$plane-offset-x: -406px;
$plane-offset-y: -447px;
$plane-width: 65px;
$plane-height: 58px;
$plane-total-width: 760px;
$plane-total-height: 691px;
$plane-image: '../images/sprite.png';
$plane: (406px, 447px, -406px, -447px, 65px, 58px, 760px, 691px, '../images/sprite.png', 'plane', );
$point-name: 'point';
$point-x: 510px;
$point-y: 365px;
$point-offset-x: -510px;
$point-offset-y: -365px;
$point-width: 20px;
$point-height: 20px;
$point-total-width: 760px;
$point-total-height: 691px;
$point-image: '../images/sprite.png';
$point: (510px, 365px, -510px, -365px, 20px, 20px, 760px, 691px, '../images/sprite.png', 'point', );
$point-name: 'point_';
$point-x: 740px;
$point-y: 370px;
$point-offset-x: -740px;
$point-offset-y: -370px;
$point-width: 20px;
$point-height: 20px;
$point-total-width: 760px;
$point-total-height: 691px;
$point-image: '../images/sprite.png';
$point-: (740px, 370px, -740px, -370px, 20px, 20px, 760px, 691px, '../images/sprite.png', 'point_', );
$pumpkin-name: 'pumpkin';
$pumpkin-x: 579px;
$pumpkin-y: 0px;
$pumpkin-offset-x: -579px;
$pumpkin-offset-y: 0px;
$pumpkin-width: 181px;
$pumpkin-height: 164px;
$pumpkin-total-width: 760px;
$pumpkin-total-height: 691px;
$pumpkin-image: '../images/sprite.png';
$pumpkin: (579px, 0px, -579px, 0px, 181px, 164px, 760px, 691px, '../images/sprite.png', 'pumpkin', );
$pumpkin-name: 'pumpkin_';
$pumpkin-x: 237px;
$pumpkin-y: 113px;
$pumpkin-offset-x: -237px;
$pumpkin-offset-y: -113px;
$pumpkin-width: 108px;
$pumpkin-height: 99px;
$pumpkin-total-width: 760px;
$pumpkin-total-height: 691px;
$pumpkin-image: '../images/sprite.png';
$pumpkin-: (237px, 113px, -237px, -113px, 108px, 99px, 760px, 691px, '../images/sprite.png', 'pumpkin_', );
$rupor-name: 'rupor';
$rupor-x: 334px;
$rupor-y: 447px;
$rupor-offset-x: -334px;
$rupor-offset-y: -447px;
$rupor-width: 72px;
$rupor-height: 61px;
$rupor-total-width: 760px;
$rupor-total-height: 691px;
$rupor-image: '../images/sprite.png';
$rupor: (334px, 447px, -334px, -447px, 72px, 61px, 760px, 691px, '../images/sprite.png', 'rupor', );
$rupor-name: 'rupor_';
$rupor-x: 410px;
$rupor-y: 263px;
$rupor-offset-x: -410px;
$rupor-offset-y: -263px;
$rupor-width: 101px;
$rupor-height: 87px;
$rupor-total-width: 760px;
$rupor-total-height: 691px;
$rupor-image: '../images/sprite.png';
$rupor-: (410px, 263px, -410px, -263px, 101px, 87px, 760px, 691px, '../images/sprite.png', 'rupor_', );
$rupor-blue-name: 'rupor_blue';
$rupor-blue-x: 180px;
$rupor-blue-y: 447px;
$rupor-blue-offset-x: -180px;
$rupor-blue-offset-y: -447px;
$rupor-blue-width: 78px;
$rupor-blue-height: 66px;
$rupor-blue-total-width: 760px;
$rupor-blue-total-height: 691px;
$rupor-blue-image: '../images/sprite.png';
$rupor-blue: (180px, 447px, -180px, -447px, 78px, 66px, 760px, 691px, '../images/sprite.png', 'rupor_blue', );
$slash-name: 'slash';
$slash-x: 743px;
$slash-y: 392px;
$slash-offset-x: -743px;
$slash-offset-y: -392px;
$slash-width: 16px;
$slash-height: 33px;
$slash-total-width: 760px;
$slash-total-height: 691px;
$slash-image: '../images/sprite.png';
$slash: (743px, 392px, -743px, -392px, 16px, 33px, 760px, 691px, '../images/sprite.png', 'slash', );
$small-sheet-name: 'small-sheet';
$small-sheet-x: 0px;
$small-sheet-y: 622px;
$small-sheet-offset-x: 0px;
$small-sheet-offset-y: -622px;
$small-sheet-width: 52px;
$small-sheet-height: 69px;
$small-sheet-total-width: 760px;
$small-sheet-total-height: 691px;
$small-sheet-image: '../images/sprite.png';
$small-sheet: (0px, 622px, 0px, -622px, 52px, 69px, 760px, 691px, '../images/sprite.png', 'small-sheet', );
$top-name: 'top';
$top-x: 356px;
$top-y: 238px;
$top-offset-x: -356px;
$top-offset-y: -238px;
$top-width: 28px;
$top-height: 15px;
$top-total-width: 760px;
$top-total-height: 691px;
$top-image: '../images/sprite.png';
$top: (356px, 238px, -356px, -238px, 28px, 15px, 760px, 691px, '../images/sprite.png', 'top', );
$top-name: 'top_';
$top-x: 510px;
$top-y: 350px;
$top-offset-x: -510px;
$top-offset-y: -350px;
$top-width: 28px;
$top-height: 15px;
$top-total-width: 760px;
$top-total-height: 691px;
$top-image: '../images/sprite.png';
$top-: (510px, 350px, -510px, -350px, 28px, 15px, 760px, 691px, '../images/sprite.png', 'top_', );
$tw-name: 'tw';
$tw-x: 366px;
$tw-y: 212px;
$tw-offset-x: -366px;
$tw-offset-y: -212px;
$tw-width: 21px;
$tw-height: 21px;
$tw-total-width: 760px;
$tw-total-height: 691px;
$tw-image: '../images/sprite.png';
$tw: (366px, 212px, -366px, -212px, 21px, 21px, 760px, 691px, '../images/sprite.png', 'tw', );
$yes-name: 'yes';
$yes-x: 80px;
$yes-y: 528px;
$yes-offset-x: -80px;
$yes-offset-y: -528px;
$yes-width: 70px;
$yes-height: 75px;
$yes-total-width: 760px;
$yes-total-height: 691px;
$yes-image: '../images/sprite.png';
$yes: (80px, 528px, -80px, -528px, 70px, 75px, 760px, 691px, '../images/sprite.png', 'yes', );
$spritesheet-width: 760px;
$spritesheet-height: 691px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right-, $arrow, $arrow-blue, $avokado, $babl, $binocl, $bottom, $bottom-, $br, $chili, $close, $drop-black, $drop-blue, $drop-yellow, $eggplant, $f, $go-top, $inst, $lamp-, $lamp-blue, $li, $line-, $line-3, $line-4, $line-5, $logo-teplica, $mark, $money, $no, $notebook, $pen, $pen-blue, $pepper, $phone, $phone-contact, $plane, $point, $point-, $pumpkin, $pumpkin-, $rupor, $rupor-, $rupor-blue, $slash, $small-sheet, $top, $top-, $tw, $yes, );
$spritesheet: (760px, 691px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
