// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 0px;
$arrow-y: 340px;
$arrow-offset-x: 0px;
$arrow-offset-y: -340px;
$arrow-width: 43px;
$arrow-height: 32px;
$arrow-total-width: 376px;
$arrow-total-height: 372px;
$arrow-image: '../images/sprite.png';
$arrow: (0px, 340px, 0px, -340px, 43px, 32px, 376px, 372px, '../images/sprite.png', 'arrow', );
$arrow-blue-name: 'arrow_blue';
$arrow-blue-x: 173px;
$arrow-blue-y: 120px;
$arrow-blue-offset-x: -173px;
$arrow-blue-offset-y: -120px;
$arrow-blue-width: 91px;
$arrow-blue-height: 46px;
$arrow-blue-total-width: 376px;
$arrow-blue-total-height: 372px;
$arrow-blue-image: '../images/sprite.png';
$arrow-blue: (173px, 120px, -173px, -120px, 91px, 46px, 376px, 372px, '../images/sprite.png', 'arrow_blue', );
$babl-name: 'babl';
$babl-x: 0px;
$babl-y: 181px;
$babl-offset-x: 0px;
$babl-offset-y: -181px;
$babl-width: 83px;
$babl-height: 70px;
$babl-total-width: 376px;
$babl-total-height: 372px;
$babl-image: '../images/sprite.png';
$babl: (0px, 181px, 0px, -181px, 83px, 70px, 376px, 372px, '../images/sprite.png', 'babl', );
$binocl-name: 'binocl';
$binocl-x: 101px;
$binocl-y: 45px;
$binocl-offset-x: -101px;
$binocl-offset-y: -45px;
$binocl-width: 82px;
$binocl-height: 75px;
$binocl-total-width: 376px;
$binocl-total-height: 372px;
$binocl-image: '../images/sprite.png';
$binocl: (101px, 45px, -101px, -45px, 82px, 75px, 376px, 372px, '../images/sprite.png', 'binocl', );
$bottom-name: 'bottom';
$bottom-x: 335px;
$bottom-y: 300px;
$bottom-offset-x: -335px;
$bottom-offset-y: -300px;
$bottom-width: 28px;
$bottom-height: 15px;
$bottom-total-width: 376px;
$bottom-total-height: 372px;
$bottom-image: '../images/sprite.png';
$bottom: (335px, 300px, -335px, -300px, 28px, 15px, 376px, 372px, '../images/sprite.png', 'bottom', );
$bottom-name: 'bottom_';
$bottom-x: 302px;
$bottom-y: 181px;
$bottom-offset-x: -302px;
$bottom-offset-y: -181px;
$bottom-width: 28px;
$bottom-height: 15px;
$bottom-total-width: 376px;
$bottom-total-height: 372px;
$bottom-image: '../images/sprite.png';
$bottom-: (302px, 181px, -302px, -181px, 28px, 15px, 376px, 372px, '../images/sprite.png', 'bottom_', );
$br-name: 'br';
$br-x: 335px;
$br-y: 258px;
$br-offset-x: -335px;
$br-offset-y: -258px;
$br-width: 21px;
$br-height: 21px;
$br-total-width: 376px;
$br-total-height: 372px;
$br-image: '../images/sprite.png';
$br: (335px, 258px, -335px, -258px, 21px, 21px, 376px, 372px, '../images/sprite.png', 'br', );
$close-name: 'close';
$close-x: 235px;
$close-y: 251px;
$close-offset-x: -235px;
$close-offset-y: -251px;
$close-width: 52px;
$close-height: 51px;
$close-total-width: 376px;
$close-total-height: 372px;
$close-image: '../images/sprite.png';
$close: (235px, 251px, -235px, -251px, 52px, 51px, 376px, 372px, '../images/sprite.png', 'close', );
$drop-black-name: 'drop_black';
$drop-black-x: 352px;
$drop-black-y: 190px;
$drop-black-offset-x: -352px;
$drop-black-offset-y: -190px;
$drop-black-width: 17px;
$drop-black-height: 26px;
$drop-black-total-width: 376px;
$drop-black-total-height: 372px;
$drop-black-image: '../images/sprite.png';
$drop-black: (352px, 190px, -352px, -190px, 17px, 26px, 376px, 372px, '../images/sprite.png', 'drop_black', );
$drop-blue-name: 'drop_blue';
$drop-blue-x: 335px;
$drop-blue-y: 190px;
$drop-blue-offset-x: -335px;
$drop-blue-offset-y: -190px;
$drop-blue-width: 17px;
$drop-blue-height: 26px;
$drop-blue-total-width: 376px;
$drop-blue-total-height: 372px;
$drop-blue-image: '../images/sprite.png';
$drop-blue: (335px, 190px, -335px, -190px, 17px, 26px, 376px, 372px, '../images/sprite.png', 'drop_blue', );
$drop-yellow-name: 'drop_yellow';
$drop-yellow-x: 351px;
$drop-yellow-y: 157px;
$drop-yellow-offset-x: -351px;
$drop-yellow-offset-y: -157px;
$drop-yellow-width: 17px;
$drop-yellow-height: 26px;
$drop-yellow-total-width: 376px;
$drop-yellow-total-height: 372px;
$drop-yellow-image: '../images/sprite.png';
$drop-yellow: (351px, 157px, -351px, -157px, 17px, 26px, 376px, 372px, '../images/sprite.png', 'drop_yellow', );
$f-name: 'f';
$f-x: 335px;
$f-y: 237px;
$f-offset-x: -335px;
$f-offset-y: -237px;
$f-width: 21px;
$f-height: 21px;
$f-total-width: 376px;
$f-total-height: 372px;
$f-image: '../images/sprite.png';
$f: (335px, 237px, -335px, -237px, 21px, 21px, 376px, 372px, '../images/sprite.png', 'f', );
$go-top-name: 'go-top';
$go-top-x: 265px;
$go-top-y: 85px;
$go-top-offset-x: -265px;
$go-top-offset-y: -85px;
$go-top-width: 62px;
$go-top-height: 95px;
$go-top-total-width: 376px;
$go-top-total-height: 372px;
$go-top-image: '../images/sprite.png';
$go-top: (265px, 85px, -265px, -85px, 62px, 95px, 376px, 372px, '../images/sprite.png', 'go-top', );
$inst-name: 'inst';
$inst-x: 335px;
$inst-y: 216px;
$inst-offset-x: -335px;
$inst-offset-y: -216px;
$inst-width: 21px;
$inst-height: 21px;
$inst-total-width: 376px;
$inst-total-height: 372px;
$inst-image: '../images/sprite.png';
$inst: (335px, 216px, -335px, -216px, 21px, 21px, 376px, 372px, '../images/sprite.png', 'inst', );
$lamp-name: 'lamp';
$lamp-x: 265px;
$lamp-y: 0px;
$lamp-offset-x: -265px;
$lamp-offset-y: 0px;
$lamp-width: 70px;
$lamp-height: 85px;
$lamp-total-width: 376px;
$lamp-total-height: 372px;
$lamp-image: '../images/sprite.png';
$lamp: (265px, 0px, -265px, 0px, 70px, 85px, 376px, 372px, '../images/sprite.png', 'lamp', );
$lamp-name: 'lamp_';
$lamp-x: 124px;
$lamp-y: 251px;
$lamp-offset-x: -124px;
$lamp-offset-y: -251px;
$lamp-width: 56px;
$lamp-height: 65px;
$lamp-total-width: 376px;
$lamp-total-height: 372px;
$lamp-image: '../images/sprite.png';
$lamp-: (124px, 251px, -124px, -251px, 56px, 65px, 376px, 372px, '../images/sprite.png', 'lamp_', );
$lamp-blue-name: 'lamp_blue';
$lamp-blue-x: 0px;
$lamp-blue-y: 87px;
$lamp-blue-offset-x: 0px;
$lamp-blue-offset-y: -87px;
$lamp-blue-width: 80px;
$lamp-blue-height: 94px;
$lamp-blue-total-width: 376px;
$lamp-blue-total-height: 372px;
$lamp-blue-image: '../images/sprite.png';
$lamp-blue: (0px, 87px, 0px, -87px, 80px, 94px, 376px, 372px, '../images/sprite.png', 'lamp_blue', );
$li-name: 'li';
$li-x: 356px;
$li-y: 258px;
$li-offset-x: -356px;
$li-offset-y: -258px;
$li-width: 11px;
$li-height: 11px;
$li-total-width: 376px;
$li-total-height: 372px;
$li-image: '../images/sprite.png';
$li: (356px, 258px, -356px, -258px, 11px, 11px, 376px, 372px, '../images/sprite.png', 'li', );
$line-name: 'line_';
$line-x: 335px;
$line-y: 137px;
$line-offset-x: -335px;
$line-offset-y: -137px;
$line-width: 38px;
$line-height: 20px;
$line-total-width: 376px;
$line-total-height: 372px;
$line-image: '../images/sprite.png';
$line-: (335px, 137px, -335px, -137px, 38px, 20px, 376px, 372px, '../images/sprite.png', 'line_', );
$line-3-name: 'line_3';
$line-3-x: 173px;
$line-3-y: 166px;
$line-3-offset-x: -173px;
$line-3-offset-y: -166px;
$line-3-width: 78px;
$line-3-height: 15px;
$line-3-total-width: 376px;
$line-3-total-height: 372px;
$line-3-image: '../images/sprite.png';
$line-3: (173px, 166px, -173px, -166px, 78px, 15px, 376px, 372px, '../images/sprite.png', 'line_3', );
$line-4-name: 'line_4';
$line-4-x: 0px;
$line-4-y: 326px;
$line-4-offset-x: 0px;
$line-4-offset-y: -326px;
$line-4-width: 99px;
$line-4-height: 14px;
$line-4-total-width: 376px;
$line-4-total-height: 372px;
$line-4-image: '../images/sprite.png';
$line-4: (0px, 326px, 0px, -326px, 99px, 14px, 376px, 372px, '../images/sprite.png', 'line_4', );
$line-5-name: 'line_5';
$line-5-x: 101px;
$line-5-y: 0px;
$line-5-offset-x: -101px;
$line-5-offset-y: 0px;
$line-5-width: 164px;
$line-5-height: 45px;
$line-5-total-width: 376px;
$line-5-total-height: 372px;
$line-5-image: '../images/sprite.png';
$line-5: (101px, 0px, -101px, 0px, 164px, 45px, 376px, 372px, '../images/sprite.png', 'line_5', );
$mark-name: 'mark';
$mark-x: 335px;
$mark-y: 0px;
$mark-offset-x: -335px;
$mark-offset-y: 0px;
$mark-width: 41px;
$mark-height: 73px;
$mark-total-width: 376px;
$mark-total-height: 372px;
$mark-image: '../images/sprite.png';
$mark: (335px, 0px, -335px, 0px, 41px, 73px, 376px, 372px, '../images/sprite.png', 'mark', );
$no-name: 'no';
$no-x: 183px;
$no-y: 45px;
$no-offset-x: -183px;
$no-offset-y: -45px;
$no-width: 73px;
$no-height: 74px;
$no-total-width: 376px;
$no-total-height: 372px;
$no-image: '../images/sprite.png';
$no: (183px, 45px, -183px, -45px, 73px, 74px, 376px, 372px, '../images/sprite.png', 'no', );
$notebook-name: 'notebook';
$notebook-x: 161px;
$notebook-y: 181px;
$notebook-offset-x: -161px;
$notebook-offset-y: -181px;
$notebook-width: 76px;
$notebook-height: 63px;
$notebook-total-width: 376px;
$notebook-total-height: 372px;
$notebook-image: '../images/sprite.png';
$notebook: (161px, 181px, -161px, -181px, 76px, 63px, 376px, 372px, '../images/sprite.png', 'notebook', );
$pen-name: 'pen';
$pen-x: 287px;
$pen-y: 251px;
$pen-offset-x: -287px;
$pen-offset-y: -251px;
$pen-width: 48px;
$pen-height: 48px;
$pen-total-width: 376px;
$pen-total-height: 372px;
$pen-image: '../images/sprite.png';
$pen: (287px, 251px, -287px, -251px, 48px, 48px, 376px, 372px, '../images/sprite.png', 'pen', );
$pen-blue-name: 'pen_blue';
$pen-blue-x: 180px;
$pen-blue-y: 251px;
$pen-blue-offset-x: -180px;
$pen-blue-offset-y: -251px;
$pen-blue-width: 55px;
$pen-blue-height: 55px;
$pen-blue-total-width: 376px;
$pen-blue-total-height: 372px;
$pen-blue-image: '../images/sprite.png';
$pen-blue: (180px, 251px, -180px, -251px, 55px, 55px, 376px, 372px, '../images/sprite.png', 'pen_blue', );
$phone-name: 'phone';
$phone-x: 70px;
$phone-y: 251px;
$phone-offset-x: -70px;
$phone-offset-y: -251px;
$phone-width: 54px;
$phone-height: 73px;
$phone-total-width: 376px;
$phone-total-height: 372px;
$phone-image: '../images/sprite.png';
$phone: (70px, 251px, -70px, -251px, 54px, 73px, 376px, 372px, '../images/sprite.png', 'phone', );
$phone-contact-name: 'phone_contact';
$phone-contact-x: 335px;
$phone-contact-y: 73px;
$phone-contact-offset-x: -335px;
$phone-contact-offset-y: -73px;
$phone-contact-width: 40px;
$phone-contact-height: 64px;
$phone-contact-total-width: 376px;
$phone-contact-total-height: 372px;
$phone-contact-image: '../images/sprite.png';
$phone-contact: (335px, 73px, -335px, -73px, 40px, 64px, 376px, 372px, '../images/sprite.png', 'phone_contact', );
$plane-name: 'plane';
$plane-x: 237px;
$plane-y: 181px;
$plane-offset-x: -237px;
$plane-offset-y: -181px;
$plane-width: 65px;
$plane-height: 58px;
$plane-total-width: 376px;
$plane-total-height: 372px;
$plane-image: '../images/sprite.png';
$plane: (237px, 181px, -237px, -181px, 65px, 58px, 376px, 372px, '../images/sprite.png', 'plane', );
$point-name: 'point';
$point-x: 356px;
$point-y: 237px;
$point-offset-x: -356px;
$point-offset-y: -237px;
$point-width: 20px;
$point-height: 20px;
$point-total-width: 376px;
$point-total-height: 372px;
$point-image: '../images/sprite.png';
$point: (356px, 237px, -356px, -237px, 20px, 20px, 376px, 372px, '../images/sprite.png', 'point', );
$point-name: 'point_';
$point-x: 356px;
$point-y: 216px;
$point-offset-x: -356px;
$point-offset-y: -216px;
$point-width: 20px;
$point-height: 20px;
$point-total-width: 376px;
$point-total-height: 372px;
$point-image: '../images/sprite.png';
$point-: (356px, 216px, -356px, -216px, 20px, 20px, 376px, 372px, '../images/sprite.png', 'point_', );
$rupor-name: 'rupor';
$rupor-x: 101px;
$rupor-y: 120px;
$rupor-offset-x: -101px;
$rupor-offset-y: -120px;
$rupor-width: 72px;
$rupor-height: 61px;
$rupor-total-width: 376px;
$rupor-total-height: 372px;
$rupor-image: '../images/sprite.png';
$rupor: (101px, 120px, -101px, -120px, 72px, 61px, 376px, 372px, '../images/sprite.png', 'rupor', );
$rupor-name: 'rupor_';
$rupor-x: 0px;
$rupor-y: 0px;
$rupor-offset-x: 0px;
$rupor-offset-y: 0px;
$rupor-width: 101px;
$rupor-height: 87px;
$rupor-total-width: 376px;
$rupor-total-height: 372px;
$rupor-image: '../images/sprite.png';
$rupor-: (0px, 0px, 0px, 0px, 101px, 87px, 376px, 372px, '../images/sprite.png', 'rupor_', );
$rupor-blue-name: 'rupor_blue';
$rupor-blue-x: 83px;
$rupor-blue-y: 181px;
$rupor-blue-offset-x: -83px;
$rupor-blue-offset-y: -181px;
$rupor-blue-width: 78px;
$rupor-blue-height: 66px;
$rupor-blue-total-width: 376px;
$rupor-blue-total-height: 372px;
$rupor-blue-image: '../images/sprite.png';
$rupor-blue: (83px, 181px, -83px, -181px, 78px, 66px, 376px, 372px, '../images/sprite.png', 'rupor_blue', );
$slash-name: 'slash';
$slash-x: 335px;
$slash-y: 157px;
$slash-offset-x: -335px;
$slash-offset-y: -157px;
$slash-width: 16px;
$slash-height: 33px;
$slash-total-width: 376px;
$slash-total-height: 372px;
$slash-image: '../images/sprite.png';
$slash: (335px, 157px, -335px, -157px, 16px, 33px, 376px, 372px, '../images/sprite.png', 'slash', );
$top-name: 'top';
$top-x: 302px;
$top-y: 196px;
$top-offset-x: -302px;
$top-offset-y: -196px;
$top-width: 28px;
$top-height: 15px;
$top-total-width: 376px;
$top-total-height: 372px;
$top-image: '../images/sprite.png';
$top: (302px, 196px, -302px, -196px, 28px, 15px, 376px, 372px, '../images/sprite.png', 'top', );
$top-name: 'top_';
$top-x: 302px;
$top-y: 211px;
$top-offset-x: -302px;
$top-offset-y: -211px;
$top-width: 28px;
$top-height: 15px;
$top-total-width: 376px;
$top-total-height: 372px;
$top-image: '../images/sprite.png';
$top-: (302px, 211px, -302px, -211px, 28px, 15px, 376px, 372px, '../images/sprite.png', 'top_', );
$tw-name: 'tw';
$tw-x: 335px;
$tw-y: 279px;
$tw-offset-x: -335px;
$tw-offset-y: -279px;
$tw-width: 21px;
$tw-height: 21px;
$tw-total-width: 376px;
$tw-total-height: 372px;
$tw-image: '../images/sprite.png';
$tw: (335px, 279px, -335px, -279px, 21px, 21px, 376px, 372px, '../images/sprite.png', 'tw', );
$yes-name: 'yes';
$yes-x: 0px;
$yes-y: 251px;
$yes-offset-x: 0px;
$yes-offset-y: -251px;
$yes-width: 70px;
$yes-height: 75px;
$yes-total-width: 376px;
$yes-total-height: 372px;
$yes-image: '../images/sprite.png';
$yes: (0px, 251px, 0px, -251px, 70px, 75px, 376px, 372px, '../images/sprite.png', 'yes', );
$spritesheet-width: 376px;
$spritesheet-height: 372px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow, $arrow-blue, $babl, $binocl, $bottom, $bottom-, $br, $close, $drop-black, $drop-blue, $drop-yellow, $f, $go-top, $inst, $lamp, $lamp-, $lamp-blue, $li, $line-, $line-3, $line-4, $line-5, $mark, $no, $notebook, $pen, $pen-blue, $phone, $phone-contact, $plane, $point, $point-, $rupor, $rupor-, $rupor-blue, $slash, $top, $top-, $tw, $yes, );
$spritesheet: (376px, 372px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
