<main id="main" class="portfolio__antonova">
    <div class="container portfolio__antonova__content">
        <div class="portfolio__top">
            <img class="img-responsive" src="/images/portfolio/antonova-top.png" alt="">
            <div class="portfolio__logo">
                <h1 class="logo-antonova">Языковая школа Екатерины Антоновой</h1>
                <span>брендинг рекламная компания</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row portfolio__line">
                    <div class="col-sm-6 col-sm-offset-6">
                        <h2 class="big-header__text client">Клиент</h2>
                        <i class="icon icon-tooltip"></i>
                        <i class="icon icon-b"></i>
                        <i class="icon icon-star-green"></i>
                        <i class="icon icon-clock"></i>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-7">
                        <i class="icon icon-book"></i>
                        <div class="portfolio__what">
                            <i class="icon icon-a-star"></i>
                            <p>Языковая школа Екатерины Антоновой -
                                онлайн обучение иностранным языкам</p>
                        </div>
                    </div>
                </div>
                <div class="row portfolio__line do">
                    <div class="col-sm-10">
                        <i class="icon icon-stars"></i>
                        <i class="icon icon-cubok"></i>
                        <h2 class="big-header__text">Задача</h2>
                    </div>
                    <div class="col-sm-7 col-sm-offset-6">
                        <i class="icon icon-ruler"></i>
                        <div class="portfolio__do">
                            <i class="icon icon-pen-green"></i>
                            <i class="icon icon-a-star"></i>
                            <p>Придумать простой  логотип, фирменный стиль
                                и рекламную кампанию в печати.</p>
                        </div>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-5 col-sm-offset-8">
                        <i class="icon icon-a"></i>
                        <h2 class="big-header__text">Идея</h2>
                        <i class=" icon icon-lighting"></i>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-9">
                        <i class="icon icon-earth"></i>
                        <div class="portfolio__idea">
                            <i class="icon icon-lamp-green"></i>
                            <i class="icon icon-a-star"></i>
                            <i class="icon icon-c"></i>
                            <p>Идея пришла мгновенно из английского алфавита. Первая буква А,
                                как начало долгого пути в освоение языка, она же первая буква
                                в фамилии основателя школы - Антонова. Букву сделали аккуратнее,
                                плавнее и положили на зеленую подложку. Зеленый отсылает
                                к свежим знаниям.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="portfolio__content">
                    <img class="img-responsive style" src="/images/portfolio/antonova-style.png" alt="">
                    <p>Шрифт - Novito Nova Thin. Простой и дружелюбный.</p>
                    <img class="img-responsive" src="/images/portfolio/antonova-font.png" alt="">
                    <p>Посмотрим как это выглядит на материалах - визитке например.</p>
                    <img class="img-responsive" src="/images/portfolio/antonova-visit.jpg" alt="">
                    <p>Показали клиенту, получили одобрение. Примеряем на другие материалы. </p>
                    <img class="img-responsive" src="/images/portfolio/slide_1_antonova.jpg" alt="">
                    <p>И напоследок - реклама в печати. Школа практикует ускоренное обучение английскому языку. А это значит, что за короткое время тебя подготовят к чему-угодно - к важным деловым переговорам, турпоездке, собеседованию.
                        Мы зацепились за этот инсайт и придумали минималистичные макеты с простым сообщением.</p>

                    <div class="gallery owl-carousel">
                        <div class="item">
                            <img src="/images/portfolio/slide_2_antonova.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="/images/portfolio/slide_3_antonova.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="/images/portfolio/slide_1_antonova.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
