<main id="main" class="c-brif">
    <section class="c-brif__form-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h2 class="c-brif-header big-header__text">Бриф</h2>
                    <div class="c-brif__wrapper">
                    <form class="c-brif__form js-form" action="action_mail.php" method="post" _lpchecked="1">
                        <p class="c-brif__text">
                            <span class="js-typed">Дорогая «Точка росы»,</span>
                            <span id="dear"></span>
                        </p>

                        <p>
                            <label class="c-brif__text" for="name">
                                <span class="js-typed">Привет, я</span>
                                <span id="hello"></span>
                                <input id="name" class="c-brif__input c-brif__input-name" type="text" name="name"  placeholder="" required="required"/>
                            </label>
                            <label class="c-brif__text" for="company">
                                <span class="js-typed">из</span>
                                <span id="iz"></span>
                                <input id="company" class="c-brif__input c-brif__input-company" type="text" name="company" placeholder=""/>
                            </label>
                        </p><p>
                        <label class="c-brif__text" for="target">
                            <span class="js-typed">Меня интересует</span>
                            <span id="target"></span>
                            <span class="c-brif__textarea">
                                <textarea id="targetInput" class="c-brif__input c-brif__input-target" type="text" name="target"  placeholder="" ></textarea>
                            </span>
                        </label>
                    </p><p>
                        <label class="c-brif__text" for="email">
                            <span class="js-typed">Здесь мой e-mail</span>
                            <span id="email"></span>
                            <input id="emailInput" class="c-brif__input c-brif__input-email" type="email" name="email" placeholder="" required="required"/>
                        </label>
                    </p>
                        <input class="c-brif__submit g-recaptcha js-submit" type="submit" onclick="mail()" value="отправить" data-sitekey="6LestR4UAAAAAJ8I1F3gegE88WXVICkGLuojoT-A" data-callback="mail"/>
                    </form>
                </div></div>
            </div>

        </div>
    </section>
    <section class="c-brif__thanks js-thanks">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
        <div class="c-brif__text">Спасибо! <br />
            Мы ответим вам в ближайшее время!
            <i class="icon-plane c-brif-icon"></i>
            <i class="icon-rupor-blue c-brif-icon"></i>
            <i class="icon-yes c-brif-icon"></i>
            <i class="icon-lamp-blue c-brif-icon"></i>
            <i class="icon-arrow-blue c-brif-icon"></i>
            <i class="icon-pencil-blue c-brif-icon"></i>
        </div>

                </div></div></div>
    </section>

</main>