<main class="c-contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="c-contacts-header big-header__text">Контакты</h2>
                <nav class="js-tabs c-contacts__tabs" data-tabgroup="first-tab-group">
                    <a href="#tab1" class="active c-contacts__tab">Новосибирск</a>
                    <a href="#tab2" class="c-contacts__tab">Москва</a>
                    <a href="#tab3" class="c-contacts__tab">Екатеринбург</a>
                </nav>

                <section id="first-tab-group" class="js-tabgroup">

                    <!--tab1 новосиб-->
                    <div id="tab1">
                        <div class="c-contacts__wrapper">
                            <div id="map" class="c-contacts__map"></div>
                            <div class="c-contacts__info">
                                    <p class="c-contacts__p"><i class="icon-plane c-contacts__icon"></i><a class="c-contacts__text" target="_blank" href="mailto:hi@tochkarosy.com">hi@tochkarosy.com</a></p>
                                <p class="c-contacts__p"><i class="icon-marker c-contacts__icon"></i><span class="c-contacts__text">г. Новосибирск,</br>Красный проспект, 171/3</span></p>
                                <p class="c-contacts__p"><i class="icon-phone c-contacts__icon"></i><span class="c-contacts__text">287-62-02</span></p>
                            </div>
                        </div>
                    </div>
                    <!--/tab1-->


                    <!--tab2 мск-->
                    <div  id="tab2">
                        <div class="c-contacts__wrapper">

                            <div id="map2" class="c-contacts__map"></div>



                            <div class="c-contacts__info">
                                <p class="c-contacts__p"><i class="icon-plane c-contacts__icon"></i><a class="c-contacts__text" target="_blank" href="mailto:hi@tochkarosy.com">hi@tochkarosy.com</a></p>
                                <p class="c-contacts__p"><i class="icon-marker c-contacts__icon"></i><span class="c-contacts__text">г. Москва,<br/>Нижний Сусальный пер., 5 ст. 19</span></p>
                                <p class="c-contacts__p"><i class="icon-phone c-contacts__icon"></i><span class="c-contacts__text">8 (495) 7675653</span></p>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/tab2-->



                    <!--tab3 екб-->
                    <div  id="tab3" >
                        <div class="c-contacts__wrapper">

                            <div id="map3" class="c-contacts__map"></div>



                            <div class="c-contacts__info">
                                <p class="c-contacts__p"><i class="icon-plane c-contacts__icon"></i><a class="c-contacts__text" target="_blank" href="mailto:hi@tochkarosy.com">hi@tochkarosy.com</a></p>
                                <p class="c-contacts__p"><i class="icon-marker c-contacts__icon"></i><span class="c-contacts__adress">г. Екатеринбург,<br/>Хохрякова, 74</span></p>
                                <p class="c-contacts__p"><i class="icon-phone c-contacts__icon"></i><span class="c-contacts__text">8 (383) 287-62-02</span></p>

                            </div>
                        </div>
                    </div>
                    <!--/tab3-->

                </section>
    </div>
    </div>
    </div>
</main>