<section class="section">
<footer id="footer" class="l-footer">
    <section class="l-footer__brif">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="l-footer__head">Бриф</h3>
                    <p  class="l-footer__link">Есть задача? Давайте поработаем вместе</p>
                </div>
            </div>
        </div>
    </section>
    <section class="l-footer__line">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="l-footer__p">2014 - 2017 Точка росы</p>
                </div>
            </div>
        </div>
    </section>
</footer>
</section>
</main>
<!-- MAIN CSS -->
<link rel="stylesheet" href="/css/main.css">
<!-- JavaScript -->
<script src="js/main.js" ></script>
</body>
</html>