<section class="section c-footer-small">
<footer id="footer" >
    <section class="c-footer-small__brif">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-footer-small__wrap">
                        <h3 class="c-footer-small__head">Бриф</h3>
                        <a href="brif.html" class="c-footer-small__link">
                            Есть задача? Давайте поработаем вместе
                            <span class="icon-arrow animated animated-loop"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="c-footer-small__line">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="c-footer-small__p">2014 - 2018 Точка росы</p>
                </div>
            </div>
        </div>
        <a href="#" id="js-top" class="icon-go-top"></a>
    </section>
</footer>
</section>
</main>
<!-- JavaScript -->
<script src="/new/js/main.js" ></script>
</body>
</html>