<!doctype html>
<html lang="en">
<head>
    <title>Точка росы</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
//= menu.html
//= slide-menu.html
<main id="fullpage" class="c-portfolio">
    <section  class="l-head section">
        <div class="l-head-left">
        //= ../svg-images/main-left.html
        //= main-menu.html
            <div class="l-head__about">
                <p class="l-head__p">Привет. Мы — Точка Росы.
                    Делаем рекламу, создаем бренды,
                    рисуем дизайн и сайты, снимаем ролики.</p>

                <p class="l-head__p">Мы помогаем бизнесу становится лучше и сильнее,
                    поэтому тщательно работаем над идеями.</p>
                <p><a class="l-head__link" href="about.html">Подробнее о нас</a></p>
            </div>
        </div>
        <div class="l-head-right">
            <img class="l-head__fon" src="images/fon-top-right.png" alt="">
            //= ./small-menu.html
        </div>
        <a href="#secondSection" class="bottom-href"><i class="icon-bottom_"></i> Избранные проекты</a>
    </section>