
    <section class="section c-portfolio__teplica">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-portfolio__top"></div>
                    <div class="c-portfolio__body">
                        <div class="c-portfolio__cat">
                            брендинг
                        </div>
                        <div class="c-portfolio__image">
                            <img class="img-responsive" src="images/portfolio/teplica.jpg" alt="Кафе Теплица">
                             //= ../svg-images/teplica.html
                    </div>
                    <div class="c-portfolio__bottom"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section c-portfolio__sunturini">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-portfolio__top"></div>
                    <div class="c-portfolio__body">
                        <div class="c-portfolio__cat">брендинг <span class="c-portfolio__slash"></span> рекламная компания</div>
                        <div class="c-portfolio__image"><img class="img-responsive" src="images/portfolio/sunturini.jpg" alt=""></div>
                        //= ../svg-images/sunturini.html
                        <div class="c-portfolio__name">Туристическое агенство сантурини</div>
                        <div class="c-portfolio__more">о проекте</div>
                    </div>
                    <div class="c-portfolio__bottom"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section c-portfolio__eantonova">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-portfolio__top"></div>
                    <div class="c-portfolio__body">
                        <div class="c-portfolio__cat">брендинг <span class="c-portfolio__slash"></span> рекламная компания</div>
                        <div class="c-portfolio__image"><img class="img-responsive" src="images/portfolio/eantonova.jpg" alt=""></div>
                        //= ../svg-images/eantonova.html
                        <div class="c-portfolio__name">Языковая школа Екатерины Антоновой</div>
                        <div class="c-portfolio__more">о проекте</div>
                    </div>
                    <div class="c-portfolio__bottom"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section c-portfolio__2gis">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-portfolio__top"></div>
                    <div class="c-portfolio__body">
                        <div class="c-portfolio__cat">рекламное видео</div>
                        <div class="c-portfolio__image"><img class="img-responsive" src="images/portfolio/2gis.jpg" alt=""></div>
                        //= ../svg-images/2gis.html
                        <div class="c-portfolio__name">Компания 2GIS</div>
                        <div class="c-portfolio__more">о проекте</div>
                    </div>
                    <div class="c-portfolio__bottom"></div>
                </div>
            </div>
        </div>
    </section>
