
    <section class="section c-portfolio__teplica">
        <a href="#firstSection" class="move top-href"><i class="icon-top_"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-portfolio__top"></div>
                    <div class="c-portfolio__body">
                        //= ../svg-images/teplica.html
                        <div class="c-portfolio__image">
                            <div class="c-portfolio__cat">
                                <div class="c-portfolio__line"></div>
                                брендинг
                            </div>
                            <img class="img-responsive" src="images/portfolio/teplica.jpg" alt="Кафе Теплица">

                    </div>
                    <div class="c-portfolio__bottom"></div>
                </div>
            </div>
        </div>
            <a href="#thirdSection" class="bottom-href move"><i class="icon-bottom_"></i></a>
    </section>
    <section class="section c-portfolio__sunturini">
        <a href="#secondSection" class="move top-href"><i class="icon-top_"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-portfolio__top"></div>
                    <div class="c-portfolio__body">
                        //= ../svg-images/sunturini.html
                        <div class="c-portfolio__image">
                            <img class="img-responsive" src="images/portfolio/sunturini.jpg" alt="">
                            <div class="c-portfolio__cat">
                                брендинг <span class="c-portfolio__slash"></span> рекламная компания
                                <div class="c-portfolio__line"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <a href="#fourthSection" class="move bottom-href"><i class="icon-bottom_"></i></a>
    </section>
    <section class="section c-portfolio__eantonova">
        <a href="#secondSection" class="move top-href"><i class="icon-top_"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-portfolio__top"></div>
                    <div class="c-portfolio__body">
                        //= ../svg-images/eantonova.html
                        <div class="c-portfolio__cat">
                            <div class="c-portfolio__line"></div>
                            брендинг <span class="c-portfolio__slash"></span> рекламная компания</div>
                        <div class="c-portfolio__image"><img class="img-responsive" src="images/portfolio/eantonova.jpg" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <a href="#fourthSection" class="move bottom-href"><i class="icon-bottom_"></i></a>
    </section>
    <section class="section c-portfolio__2gis">
        <a href="#secondSection" class="move top-href"><i class="icon-top_"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-portfolio__top"></div>
                    <div class="c-portfolio__body">
                        //= ../svg-images/2gis.html
                        <div class="c-portfolio__cat">рекламное видео
                            <div class="c-portfolio__line"></div>
                        </div>
                        <div class="c-portfolio__image"><img class="img-responsive" src="images/portfolio/2gis.jpg" alt=""></div>

                    </div>
                    <div class="c-portfolio__bottom"></div>
                </div>
            </div>
        </div>
        <a href="#fourthSection" class="move bottom-href"><i class="icon-bottom_"></i></a>
    </section>
