
    <section class="section c-portfolio__teplica">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-portfolio__top"></div>
                    <div class="c-portfolio__body">
                        <div class="portfolio__cat">
                            брендинг
                        </div>
                        <div class="portfolio__image">
                            <img class="img-responsive" src="/images/portfolio/teplica.png" alt="">
                        </div>
                        <div class="portfolio__name">Кафе Теплица</div>
                        <div class="portfolio__more">о проекте</div>
                    </div>
                    <div class="c-portfolio__bottom"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section c-portfolio__sunturini">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="portfolio__top"></div>
                    <div class="portfolio__body">
                        <div class="portfolio__cat">брендинг <span class="portfolio__slash"></span> рекламная компания</div>
                        <div class="portfolio__image"><img class="img-responsive" src="/images/portfolio/sunturini.png" alt=""></div>
                        <div class="portfolio__name">Туристическое агенство сантурини</div>
                        <div class="portfolio__more">о проекте</div>
                    </div>
                    <div class="portfolio__bottom"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section c-portfolio__eantonova">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="portfolio__top"></div>
                    <div class="portfolio__body">
                        <div class="portfolio__cat">брендинг <span class="portfolio__slash"></span> рекламная компания</div>
                        <div class="portfolio__image"><img class="img-responsive" src="/images/portfolio/eantonva.png" alt=""></div>
                        <div class="portfolio__name">Языковая школа Екатерины Антоновой</div>
                        <div class="portfolio__more">о проекте</div>
                    </div>
                    <div class="portfolio__bottom"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section c-portfolio__2gis">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="portfolio__top"></div>
                    <div class="portfolio__body">
                        <div class="portfolio__cat">рекламное видео</div>
                        <div class="portfolio__image"><img class="img-responsive" src="/images/portfolio/2gis.png" alt=""></div>
                        <div class="portfolio__name">Компания 2GIS</div>
                        <div class="portfolio__more">о проекте</div>
                    </div>
                    <div class="portfolio__bottom"></div>
                </div>
            </div>
        </div>
    </section>
