<nav class="c-menu">
    <ul class="js-menu">
        <li class="c-menu__item" data-menuanchor="firstSection">
            <a class="c-menu__link" href="#firstSection" title="Точка роста">Точка роста</a>
        </li>
        <li class="c-menu__item" data-menuanchor="secondSection">
            <a class="c-menu__link" href="#secondSection" title="Кафе теплица">Кафе теплица</a>
            <span class="c-menu__point icon-point"></span>
            <span class="c-menu__line icon-line slideInRight animated"></span>
        </li>
        <li class="c-menu__item" data-menuanchor="thirdSection">
            <a class="c-menu__link" href="#thirdSection" title="Сантурини">Сантурини</a>
            <span class="c-menu__point icon-point"></span>
            <span class="c-menu__line icon-line slideInRight animated"></span>
        </li>
        <li class="c-menu__item" data-menuanchor="fourthSection">
            <a class="c-menu__link" href="#fourthSection" title="Школа Екатерины Антоновой">Школа Антоновой</a>
            <span class="c-menu__point icon-point"></span>
            <span class="c-menu__line icon-line slideInRight animated"></span>
        </li>
        <li class="c-menu__item" data-menuanchor="fifthSection">
            <a class="c-menu__link" href="#fifthSection" title="Компания 2GIS">Компания 2GIS</a>
            <span class="c-menu__point icon-point"></span>
            <span class="c-menu__line icon-line slideInRight animated"></span>
        </li>
        <li class="c-menu__item" data-menuanchor="sixSection">
            <a class="c-menu__link" href="#sixSection" title="Бриф">Бриф</a>
        </li>
    </ul>
</nav>