<main id="main" class="portfolio__pnp">
    <div class="container portfolio__pnp__content">
        <div class="portfolio__top">
            <img class="img-responsive" src="/images/portfolio/pnp-top.png" alt="">
        </div>
        <div class="row">

                <div class="row portfolio__line portfolio__what">

                        <i class="icon icon-ice-v"></i>
                        <div class="col-md-6">
                                <img class="portfolio__what__yellow" src="/images/portfolio/pnp-yellow.png" alt="">
                                <p class="portfolio__what__text">Сеть кафе ролл-мороженого Рок-н-Ролло</p>
                        </div>
                        <div class="col-md-6 ">
                            <h2 class="big-header__text client">Клиент</h2>
                        </div>

                </div>
                <div class="row portfolio__line">
                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="big-header__text">Задача</h2>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <div class="portfolio__do">
                            <i class="icon icon-ice-v"></i>
                            <p>Разработать логотип и фирменный стиль</p>
                        </div>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-md-5 col-md-offset-6">
                        <h2 class="big-header__text big-header__text_idea">Идея</h2>
                        <img class="portfolio__idea__violet" src="/images/portfolio/pnp-violet.png" alt="">
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="portfolio__idea">
                            <i class="icon icon-ice-y"></i>
                            <p>Тайское ролл-мороженое - диковиная штука. Делается прям на глазах, закручивается в аппетитные роллы и подается в стаканчике. Название Рок-н-Ролло очень динамичное. Хотелось показать его в динамике и сделать что-нибудь эдакое. Взялись за логотип, решили сделать его леттерингом. </p>
                        </div>
                    </div>
                </div>

        </div>
        <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="portfolio__content">
            <p>Получились вот такие скетчи и готовый лого</p>
            <div class="portfolio__sketch">
                <img class="img-responsive" src="/images/portfolio/pnp-sketch.jpg" alt="Cкетч">
                <i class="icon icon-ice-v"></i>
                <i class="icon icon-ice-v left"></i>
                <i class="icon icon-ice-y"></i>
                <img class="img-centred" src="/images/portfolio/pnp-main-color.png" alt="Основной цвет - фиолетовый">
                <p>Поехали дальше. Рок-н-ролл - это много крутых прибамбасов. Помещаем их в паттерн.</p>
            </div>
            <img class="img-responsive" src="http://dummyimage.com/1000x500/875ba4" alt="gif">
            <p>Вот так паттерн смотрится на бандане</p>
            <img class="img-responsive" src="http://dummyimage.com/1000x500/e1e4e9" alt="gif">
            <p>а вот так в действии</p>
            <img class="img-responsive" src="/images/portfolio/pnp-result.png" alt="">
            <p class="portfolio_text">
                <i class="icon icon-ice-v"></i>
                Ну чтож, очень хорошо. Осталось забрендировать креманки. Они у нас трех видов - маленька, средняя и большая. Мы решили протянуть тему правильной рок-музыки и дифферинцировать их по “тяжести”. Маленькая - Classic rock. Ее символом будет служить Элвис Пресли. Средняя - Hard Rock и старина Фредди Меркьюри. И напоследок - Heavy и ее олицетворяет Лемми Киллмистер. </p>
        </div>
    </div>
</div>
    </div>

        <img class="img-responsive" src="/images/portfolio/guy.png" alt="">

    <div class="container portfolio__pnp__content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="portfolio__content">
                    <div class="gallery owl-carousel">
                        <div class="item">
                            <img class="img-responsive" src="/images/portfolio/slide_1_pnp.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/images/portfolio/slide_1_pnp.png" alt="">
                        </div>
                    </div>
                    <img class="img-responsive" src="/images/portfolio/pnp-result_.png" alt="">
         </div>
    </div>
</div>
    </div>

</main>
