<main id="main" class="c-projects">
    <div class="container">
        <div class="big-header">
            <h1 class="c-projects__page-header__text big-header__text">Проекты</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="c-projects__wrapper">
                    <a href="portfolio/teplica.html" class="c-projects__item js-scroll animated slideInLeft js-animated">
                        <div class="c-projects__hover c-projects__1">
                            <div class="c-projects__text">
                                <h3 class="c-projects__name">Кафе теплица</h3>
                                <p class="c-projects__tag">брендинг</p>
                            </div>
                        </div>
                        <img src="images/portfolio/project1.jpg"  class="img-responsive" alt="">
                    </a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="c-projects__wrapper">
                    <a href="portfolio/sunturini.html" class="c-projects__item js-scroll animated slideInRight js-animated" data-wow-delay="0.5s">
                        <div class="c-projects__hover c-projects__2">
                            <div class="c-projects__text">
                                <h3 class="c-projects__name">Агентство Сантурини</h3>
                                <p class="c-projects__tag">брендинг - реклама</p>
                            </div>
                        </div>
                        <img src="images/portfolio/project2.jpg"  class="img-responsive" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="c-projects__wrapper">
                    <a href="portfolio/antonova.html" class="c-projects__item js-scroll animated slideInLeft js-animated" data-wow-delay="1s">
                        <div class="c-projects__hover  c-projects__3">
                            <div class="c-projects__text">
                                <h3 class="c-projects__name">Языковая школа Екатерины Антоновой</h3>
                                <p class="c-projects__tag">брендинг - реклама</p>
                            </div>
                        </div>
                        <img src="images/portfolio/project3.jpg"  class="img-responsive" alt="">
                    </a></div>
            </div>
            <div class="col-sm-6">
                <div class="c-projects__wrapper">
                    <a href="http://tochkarosy.com/projects/video/commercials/2gis/" class="c-projects__item js-scroll animated slideInRight js-animated" data-wow-delay="1.5s">
                        <div class="c-projects__hover  c-projects__4">
                            <div class="c-projects__text">
                                <h3 class="c-projects__name">2ГИС</h3>
                                <p class="c-projects__tag">рекламное видео</p>
                            </div>
                        </div>
                        <img src="images/portfolio/project4.jpg"  class="img-responsive" alt="">
                    </a></div>
            </div>
            <div class="col-sm-6">
                <div class="c-projects__wrapper">
                    <a href="portfolio/tree-live.html" class="c-projects__item js-scroll animated slideInLeft js-animated" data-wow-delay="2s">
                        <div class="c-projects__hover  c-projects__5">
                            <div class="c-projects__text">
                                <h3 class="c-projects__name">Древо жизни</h3>
                                <p class="c-projects__tag">Брендинг</p>
                            </div>
                        </div>
                        <img src="images/portfolio/tree.jpg"  class="img-responsive" alt="">
                    </a></div>
            </div>
            <div class="col-sm-6">
                <div class="c-projects__wrapper">
                    <a href="portfolio/pnp.html" class="c-projects__item js-scroll animated slideInRight js-animated" data-wow-delay="2.5s">
                        <div class="c-projects__hover  c-projects__6">
                            <div class="c-projects__text">
                                <h3 class="c-projects__name">Сеть кафе ролл-мороженого <br/>Рок-н-Ролло</h3>
                                <p class="c-projects__tag">Брендинг</p>
                            </div>
                        </div>
                        <img src="images/portfolio/pnp.jpg"  class="img-responsive" alt="">
                    </a></div>
            </div>
        </div>
    </div>
</main>