<nav class="slide-menu" id="slide-menu">
    <a href="#close" class="icon-close" id="close"></a>
    <ul class="slide-menu__wrapper">
        <li class="slide-menu__item"><a class="slide-menu__link" href="projects.html">Наши проекты</a></li>
        <li class="slide-menu__item"><a class="slide-menu__link" href="about.html">О нас</a></li>
        <li class="slide-menu__item"><a class="slide-menu__link" href="brif.html">Бриф</a></li>
        <li class="slide-menu__item"><a class="slide-menu__link" href="contacts.html">Контакты</a></li>
    </ul>
    <ul class="slide-menu__social">
        <li class="slide-menu__item"><a class="icon-social-br" href="#"></a></li>
        <li class="slide-menu__item"><a class="icon-social-f" href="#"></a></li>
        <li class="slide-menu__item"><a class="icon-social-tw" href="#"></a></li>
        <li class="slide-menu__item"><a class="icon-social-inst" href="#"></a></li>
    </ul>
</nav>