<main id="main" class="portfolio__sunturini">
    <img class="portfolio__sunturini__sun" src="/images/portfolio/sun.png" alt="">
    <img class="portfolio__sunturini__star" src="/images/portfolio/star.png" alt="">
    <div class="container portfolio__sunturini__content">
        <div class="portfolio__top">
            <img class="portfolio__top__left" src="/images/portfolio/sunturini-top-left.png" alt="">
            <img class="img-responsive" src="/images/portfolio/sunturini-top.png" alt="">
            <img class="portfolio__top__right" src="/images/portfolio/sunturini-top-right.png" alt="">
            <div class="portfolio__logo">
                <h1 class="logo-sunturini">Sunturini</h1>
                <span>брендинг рекламная компания</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row portfolio__line">
                    <div class="col-sm-6 col-sm-offset-6">
                        <h2 class="big-header__text client">Клиент</h2>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-7 col-sm-offset-1">
                        <div class="portfolio__what">
                            <i class="icon icon-star"></i>
                            <i class="icon icon-bag"></i>
                            <i class="icon icon-elips-blue"></i>
                            <p>Туристическое агентство с романтичным
                                названием Сантурини</p>
                        </div>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-10 col-sm-offset-2">
                        <h2 class="big-header__text">Задача</h2>
                    </div>
                    <div class="col-sm-6 col-sm-offset-7">
                        <div class="portfolio__do">
                            <i class="icon icon-photos"></i>
                            <i class="icon icon-sun"></i>
                            <p>Разработать логотип и фирменный стиль,
                                передать свежесть южных морей и жаркое
                                курортное солнце. </p>
                        </div><i class="icon icon-elips-blue"></i>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-6 col-sm-offset-6">

                        <h2 class="big-header__text">Идея</h2>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-7">
                        <i class=" icon icon-elips-green-yellow"></i>
                        <div class="portfolio__idea">
                            <i class="icon icon-tikets"></i>
                            <p>Как пришли к чемодану.</p>
                            <p>
                            Когда разговор заходит об отпуске, конечно же в первых рядах
                            ассоциаций стоит обычный чемодан. Как символ отдыха он очень
                            глубоко укрепился в сознании.</p>
                        </div><i class="icon icon-elips-blue"></i>
                    </div>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="portfolio__content">
            <div class="portfolio__sunturini__bag">
                <img class="img-responsive" src="/images/portfolio/sunturini-idea.png" alt="">
                <i class="icon icon-elips-yellow-border"></i>
                <i class="icon icon-elips-blue-border"></i>
            </div>
                <p class="col-sm-10 col-sm-offset-1">Ну чтож, возьмем чемодан как визуальный образ, добавим к нему солнце как символ лета и попробуем набросать скетч логотипа.</p>
                <img class="img-centred" src="/images/portfolio/sunturini-sketch.png" alt="">
                <p class="col-sm-10 col-sm-offset-1" >Показываем клиенту, получаем одобрение и рисуем логотип. В качестве основных цветов рассматриваем синий и желтый. </p>

            <img class="img-centred" src="/images/portfolio/sunturini-logo-result.png" alt="">
            <img class="img-centred" src="/images/portfolio/sunturini-icon-result.jpg" alt="">
            <p>
                Подбираем шрифт. В закладках нашелся Нео Санс - легкий, приятный, смелый. Пробуем его.</p>
            <p>Хорошо получается, оставляем.</p>
            <div class="portfolio__sunturini__font">
                <i class="icon icon-elips-yellow-border"></i>
                <i class="icon icon-elips-blue-border"></i>
                <img class="img-responsive" src="/images/portfolio/sunturini-font.png" alt="">
            </div>

            <p>Хорошо. Но нужно больше драйва, солнца и настроения. Вытащим больше ассоциаций с солнцем и морем и сделаем из этого крутой паттерн. Штормим и в ход идут сланцы, маска для плавания, ракушки, морские звезды и прочее. Рисуем паттерн</p>
            <img class="img-responsive" src="/images/portfolio/sunturini-pattern.png" alt="">
            <p>Показываем клиенту как будут выглядеть визитки</p>
            <img class="img-responsive" src="/images/portfolio/sunturini-visit.jpg" alt="">
            <p>Статья в журнале и буклет</p>
            <div class="gallery owl-carousel">
                <div class="item">
                    <img class="img-responsive" src="/images/portfolio/sunturini-print.jpg" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="/images/portfolio/sunturini-print.jpg" alt="">
                </div>
            </div>

            <p>вывеска</p>
            <img class="img-responsive" src="/images/portfolio/sunturini-viveska.jpg" alt="">
            <p>и мобильное приложение</p>
            <img class="img-responsive" src="/images/portfolio/sunturini-mobile.jpg" alt="">
            <p>Он в восторге! Отправляем в печать.</p>
        </div>
    </div>
</div>
    </div>
</main>
