<main id="main" class="portfolio__teplica">
    <div class="container">
        <div class="portfolio__top">
            <img class="img-responsive" src="/new/images/portfolio/teplica-top.png" alt="">
            <div class="portfolio__logo">
                <h1 class="logo-teplica">Теплица</h1>
                <span>брендинг</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row portfolio__line">
                    <div class="col-md-6 col-md-offset-6">
                        <h2 class="big-header__text client">Клиент</h2>
                        <i class="icon icon-pumpkin"></i>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="portfolio__what">
                            <i class="icon icon-sheet"></i>
                            <i class="icon icon-eggplant"></i>
                            <p>Кафе домашней кухни Теплица</p>
                        </div>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-md-10 col-md-offset-2">
                        <h2 class="big-header__text">Задача</h2>
                    </div>
                    <div class="col-md-6 col-md-offset-5">
                        <div class="portfolio__do">
                            <p>Разработать логотип и фирменный стиль и передать в ней натуральность и природность.</p>
                            <i class="icon icon-chili"></i>
                            <i class="icon icon-sheet"></i>
                        </div>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-md-6 col-md-offset-6">
                        <h2 class="big-header__text">Идея</h2>
                        <i class="icon icon-money"></i>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-md-4 col-md-offset-2">
                        <p>Изначально мы решили, что логотип должен быть выполнен леттерингом. Это подчеркнет натуральность. За
                            вдохновением арт-директор поехал на природу. То есть, на дачу.</p>
                        <i class="icon icon-pumpkin_"></i>
                        <i class="icon icon-sheet"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio__content">
            <i class="icon icon-avocado"></i>
            <p>За выходные набросал вот такой скетч.</p>
            <div class="sketch">
                <img class="img-responsive" src="/new/images/portfolio/sketch.png" alt="Cкетч">
                <p>Получилось интересно. Доработаем до логотипа.</p>
            </div>

            <img class="img-responsive" src="/new/images/portfolio/logo-animate.png" alt="Анимашка">
            <p>Показали клиенту, согласовали. Чтобы усилить влияние природы, решили обратится к старым добрым паттернам.
                Вытащили их из даров природы - овощей и фруктов.</p>
            <img class="img-responsive" src="/new/images/portfolio/example_pattern.jpg" alt="">
            <p> превращается в паттерн </p>
            <img class="img-responsive" src="/new/images/portfolio/pattern.jpg" alt="">
            <p>Особенно хорошо паттерн смотрится на крафтовой бумаге.</p>
            <img class="img-responsive" src="/new/images/portfolio/craft.jpg" alt="">
            <p>Показываем развитие стиля на других элементах</p>
            <div class="gallery">
                <div class="item">
                    <img class="img-responsive" src="/new/images/portfolio/cup.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
</main>
