<main id="main" class="portfolio__tree">
    <i class="icon icon-gear8"></i>
    <i class="icon icon-gear7"></i>
    <i class="icon icon-gear7 left"></i>
    <div class="container portfolio__tree__content">
        <div class="portfolio__top">
            <img class="img-responsive" src="/images/portfolio/tree-top.jpg" alt="">
            <div class="portfolio__logo">
                <h1 class="logo-tree">Древо жизни</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row portfolio__line">
                    <div class="col-sm-6 col-sm-offset-6">
                        <i class="icon icon-gear1"></i>
                        <i class="icon icon-gear2"></i>
                        <h2 class="big-header__text client">Клиент</h2>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-7 col-sm-offset-1">
                        <div class="portfolio__what">
                            <p>Дерево Жизни - гомеопатическая клиника</p>
                        </div>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-10 col-sm-offset-2">
                        <i class="icon icon-gear3"></i>
                        <h2 class="big-header__text">Задача</h2>
                    </div>
                    <div class="col-sm-6 col-sm-offset-7">
                        <div class="portfolio__do">
                            <p>Разработать логотип и фирменный стиль.</p>
                    </div>
                        <i class="icon icon-gear4"></i>
                </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-6 col-sm-offset-6">
                        <i class="icon icon-gear6"></i>
                        <h2 class="big-header__text">Идея</h2>
                    </div>
                </div>
                <div class="row portfolio__line">
                    <div class="col-sm-7">
                        <div class="portfolio__idea">
                            <i class="icon icon-gear5"></i>
                            <p>Известно, что гомеопатия рассматривает тело как единый механизм, способный излечить себя самостоятельно. Достаточно найти и запустить нужную деталь, а она приведет в действие весь организм.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="portfolio__content">
                    <div class="portfolio__tree">
                        <i class="icon icon-gear3"></i>
                        <p>Шестеренку, как основу сложного механизма, мы взяли за основу и поместили в логотип.</p>
                        <img class="img-centred" src="/images/portfolio/logo-tree.png" alt="">
                    </div>
                    <p>Шрифт PF Agora Serif Pro</p>
                    <div class="portfolio__tree__font">
                        <i class="icon icon-gear9"></i>
                        <img class="img-responsive" src="/images/portfolio/tree-font.png" alt="">
                        <img class="img-fon" src="/images/portfolio/tree-font_.png" alt="">
                    </div>

                    <p>Шестеренки же мы разместили в паттерне</p>
                    <div class="portfolio__tree__pattern">
                        <img class="img-responsive" src="/images/portfolio/tree-pattern.png" alt="">
                        <img class="img-fon" src="/images/portfolio/tree-pattern_.png" alt="">
                    </div>
                    <p>и показали на основных фирменных элементах</p>
                    <div class="gallery owl-carousel">
                        <div class="item">
                            <img class="img-responsive" src="/images/portfolio/tree-print.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/images/portfolio/tree-room.jpg" alt="">
                        </div>
                        <div class="item">
                        <img class="img-responsive" src="/images/portfolio/tree-blank.jpg" alt="">
                    </div>
                        <div class="item">
                            <img class="img-responsive" src="/images/portfolio/tree-blank_.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
